mixin checkboxList(checked,checkText)
    div(class='checkboxList'+checked)
        .checkboxList__buttons
            label.checkboxList__adds= checkText
                input(type="checkbox" name="adds" class="checkboxList__custom")
                span.checkboxList__checkbox

