mixin checkboxDropdown(title,checkboxListExpanded,...items)
    div(class='checkboxList ' +checkboxListExpanded)
        .checkboxList__wrapper
            .checkboxList__name= title
            .checkboxList__icon
                i(class='material-icons checkboxList__icon-item') expand_more
        .checkboxList__dropdown
            .checkboxList__buttons 
                each item in items
                    label.checkboxList__adds= item
                        input(type="checkbox" name="adds" class="checkboxList__custom")
                        span.checkboxList__checkbox
