meta(charset="UTF-8")
link(href='checkboxList.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
mixin checkboxDropdown(title,...item)
    .checkboxList
        .checkboxList__wrapper
            .checkboxList__name= title
            .checkboxList__icon
                i.material-icons expand_more
        .checkboxList__dropdown
            .checkboxList__buttons
                each item in items
                    label.checkboxList__adds= item
                        input(type="checkbox" name="adds" class="checkboxList__custom")
                        span.checkboxList__checkbox


script( src="checkboxList.js")