@import "../../style/mixins/mixin";
@import "../../style/variables";
.bulletList__title{
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  text-transform: uppercase;
  color: $dark-black;
}
.bulletList__rules{
  @include fontContent(1.4rem, 2.4rem);
  color: $lighter-dark;
  list-style: none;
  padding-left: 0;
}
.bulletList__text{
  padding-left: 2rem;
}
.bulletList__li{
  position: relative;
  margin-bottom: 1rem;
  width: 80%;
}
.bulletList__li:before {
  content: "";
  position: absolute;
  top: .6rem;
  width: 1rem;
  height: 1rem;
  background: $light-dark;
  border-radius: 50%;

}