
.rateBtn{
  font-size: 2.4rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.rateBtn__icon{
  background: $gradient-purple;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}