link(href='rateBtn.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
mixin rateBtn
    .rateBtn
        .rateBtn__icon
            i(class='material-icons ') star_border
        .rateBtn__icon
            i(class='material-icons ') star_border
        .rateBtn__icon
            i(class='material-icons ') star_border
        .rateBtn__icon
            i(class='material-icons ') star_border
        .rateBtn__icon
            i(class='material-icons ') star_border

script(src='rateBtn.js')