@import "../../../style/mixins/mixin";
@mixin rectangle($bgColor){
  border-radius: 6px;
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
  background: $bgColor;
}
html{
  font-size: 10px;
}
body{
  margin: 0;
  background: #E5E5E5;
}
.logo__img{
  width: 4.8rem;
  padding: 1.55%;
}
.wrapper__typeColors{
  padding-top: 1.8%;
  display: grid;
  grid-template-columns: 35% 53.5%;
  position: relative;
}
.typeColors{
display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  grid-row-gap: .3%;

}
.typeColors__rectangle--Dark100{
@include rectangle(#1F2041);
}
.typeColors__rectangle--Dark75{
  @include rectangle( rgba(31, 32, 65, 0.75));
}
.typeColors__rectangle--Dark50{
  @include rectangle( rgba(31, 32, 65, 0.5));
}
.typeColors__rectangle--Dark25{
  @include rectangle( rgba(31, 32, 65, 0.25));
}
.typeColors__rectangle--Dark5{
  @include rectangle( rgba(31, 32, 65, 0.05));
}
.typeColors__rectangle--Purple{
  @include rectangle( #BC9CFF);
}
.typeColors__rectangle--Green{
  @include rectangle( #6FCF97);
}
.typeColors__item{
  display:grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-gap: 6.2%;
}
.typeColors__rectangle{
  justify-self: end;
}
.typeColors__description{
  @include fontHeadline(1.9rem,2.779rem);
  h3{
    font-weight: 900;
    margin-top: 1.7%;
    margin-bottom: 0;
  }
  p{
    font-weight: normal;
    font-size: 110%;
    margin-bottom: 0;
    margin-top: .5%;
  }
  color: #1F2041;
}
.typeFonts__item{
  display: grid;
  grid-template-columns: 5.5% 60%;
  grid-gap: 4.5%;
  justify-content: end;
  h3{
    @include fontContent(1.2rem, 1.5rem);
    text-transform: uppercase;
  }
  p{
    @include fontContent(1.4rem, 2.4rem);
    color: rgba(31, 32, 65, 0.75);
  }
}
.typeFonts{
  display: grid;
  grid-template-rows: 17.5% 15.7% 10% 10%;
  justify-content: start;
  padding-left: 10.5%;
}
h1{
  @include fontHeadline(2.4rem, 3rem)
}
h2{
  @include fontHeadline(1.9rem, 2.4rem)
}
.typeFonts__headline{
  color: rgba(31, 32, 65, 0.25);
justify-self: end;

}
.typeFonts__description{
  margin: 0;
  justify-content: start;
}
.headlineFonts1{
  @include fontContent(2.4rem, 2.9rem)
}
.headlineFonts2{
  @include fontContent(1.9rem,2.3rem)
}
.headlineFonts3{
  @include fontContent(1.2rem, 1.5rem)
}
.headlineFonts4{
  @include fontContent(1.4rem, 2.4rem)
}
@media screen and (max-width: 1000px) {
.wrapper{
  display: grid;
  grid-template-columns: 1fr;
}
  .typeFonts{
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

  }
}
.touch{
  .wrapper__typeColors{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .typeColors__description{
    @include fontHeadline(1rem,2rem);
  }
  .typeFonts{
    justify-content: center;
    padding-left: 2%;
    margin-left: 8rem;
  }
  .typeFonts__item{
    h3{
      @include fontContent(.3rem, 1.5rem);
    }
    p{
      @include fontContent(.3rem, 2.4rem);
    }
  }
  .logo__img{
    padding-top: 10%;
    padding-right: 5%;
    width: 6rem;
  }
  h1{
    @include fontHeadline(2rem, 3rem)
  }
  h2{
    @include fontHeadline(1.5rem, 2.4rem)
  }
  .typeFonts__item{
    justify-content: start;
    grid-template-columns: 5.5% 90%;
  }
  .typeFonts__description{
    margin-left: 1rem;}
  .wrapper__typeColors{
    display: block;
  }
}