doctype html
html
    head
        meta(charset="UTF-8")
        title Headers&Footers
        link(href="headersFooters.css" rel="stylesheet")
        link(href="../assets/fonts/iconfont/material-icons.css" rel="stylesheet")
        include  ../../Blocks/allBlocks

    body
        .logo
            img(src="../assets/images/logo.svg").logo__img
        .content
            .content__header
                include ../../Blocks/header/header
            .content__headerAuthorisation
                include ../../Blocks/header/headerAuthoris
            .content__footer
                include ../../Blocks/footer/footer
            .content__footer-mobile
                include ../../Blocks/footer/footer


