@import "../../style/mixins/mixin";
@import "../../style/variables";
.button{
  display: flex;
  align-items: center;
  text-align: center;
  padding: .1rem 2.2rem 0 1.9rem;
  height: 4.4rem;
  color: $white;
  background: $gradient-purple;
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  border-radius: 2.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: 0 !important;
}
.button-disabled{
  opacity: .5;
}