.button__wrapper{
  height: 4.4rem;
  position: relative;
  background-image: $gradient-purple;
  padding: .2rem;
  border-radius: 2.2rem;
  border: none;
  outline: 0 !important;
  .buttonBorder {
    border-radius: 2.2rem;
    background: $white;
    padding: 0 1.6rem 0 1.7rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $purple;
    @include fontContent(1.2rem, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
  }
  .button__text{
    cursor: pointer;
  }
}

.buttonBorder-disabled{
  background-image: $gradient-purple-opacity;
}

