meta(charset="UTF-8")
link(href='buttonBorder.css' rel='stylesheet')
link(href='../button/button.css' rel='stylesheet')
mixin buttonBorder(classBtn, title)
    button(class=''+classBtn)
        .buttonBorder
            .buttonBorder__text= title
