meta(charset="UTF-8")

link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
script(src="https://code.jquery.com/jquery-1.12.4.js")
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
link(href='calendar.css' rel='stylesheet')
.date
    input(type="text" class="datepicker" placeholder='ДД.ММ.ГГГГ')
    .date__icon
        i.material-icons expand_more


script(src='calendar.js')
