meta(charset="UTF-8")

link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
link(href='dist/datepicker.min.css' rel='stylesheet')
script(src="https://code.jquery.com/jquery-1.12.4.js")
script(src='dist/datepicker.min.js')
link(href='calendar.css' rel='stylesheet')
.date
    input(type="text" class="datepicker-here" placeholder='ДД.ММ.ГГГГ')
    .date__icon
        i.material-icons expand_more


script(src='calendar.js')