meta(charset="UTF-8")
link(href='rangeSlider.css' rel='stylesheet')

.rangeSlider
    .rangeSlider__header
        span.rangeSlider__label RANGE SLIDER
        .rangeSlider__input
            .rangeSlider__input1 0₽
            span.rangeSlider__separator -
            .rangeSlider__input2 30 000₽
    .rangeSlider__item
        .rangeSlider__beetwen
        button.rangeSlider__button1
        button.rangeSlider__button2

script(src='rangeSlider.js')