@import "../../style/mixins/mixin";
@import "../../style/variables";

.rangeSlider{
  position: relative;
  max-width: 26.6rem;
}
.rangeSlider__header{
  display: flex;
  justify-content: space-between;
  color: $half-dark;
  @include fontContent(1.2rem,1.5rem);
  .rangeSlider__label{
font-weight: $bold-weight;
    text-transform: uppercase;
    color: $dark-black;
  }
}
.rangeSlider__input {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 2.3rem 0;
  font-weight: $light-weight;

}
.rangeSlider__item {
  position: relative;
  width:26.6rem;
  height:.6rem;
  border-radius: .3rem;
  background: $white;
  border: .1rem solid $light-dark;
  box-sizing: border-box;
}

.rangeSlider__button1, .rangeSlider__button2 {
  position: absolute;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;
  background: $gradient-green;
  border: .2rem solid $white;
  z-index: 2;

}
.rangeSlider__beetwen
{
  position: absolute;
  height: .6rem;
  background: $gradient-green;
  border-radius: .3rem;
}
