@import "../../style/mixins/mixin";
.iconLink{
  @include fontContent(1.2rem, 1.5rem);
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-weight: bold;
}
.iconLink:hover{
  color: #BC9CFF;
}