meta(charset="UTF-8")
link(href='pagination.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
mixin pagination(...items)
    .pagination
        .pagination__items
            a(href='#' class=' pagination__number-active ')
                    span.pagination__page 1
            each item in items
                a(href='#' class=' pagination__number ')
                    span.pagination__page= item
            a.pagination__next(href='#')
                i.material-icons arrow_forward
        .pagination__text 1 – 12 из 100+ вариантов аренды
