
.pagination{
  margin-top: 1.7rem;
}
.pagination__items{
display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $light-weight;
  .pagination__number{
    text-decoration: none;
    color: $half-dark;
    position: relative;
    padding: .65rem .8rem;
  }
}
.pagination__number-active{
  background: $gradient-purple;
  border-radius: 2.2rem;
  color: $white;
  padding: 1.25rem 1.77rem;
  text-decoration: none;
  font-weight: $bold-weight;
}
.pagination__next{
  background: $gradient-green;
  border-radius: 2.2rem;
  font-size: 2.4rem;
  color: $white;
  padding: .8rem;
  .material-icons{
    color: $white;
  }
}
.pagination__text{
  @include fontContent(1.4rem, 2.4rem);
  color: $lighter-dark;
  margin-top: .7rem;
  margin-left: .8rem;
  text-align: left;
}
