@import "../../style/mixins/mixin";

.dropdownFacilities{
  position: relative;
  min-width: 26rem;
  border: .1rem solid rgba(31, 32, 65,.25);
  border-radius: .4rem;
  color: rgba(31, 32, 65,.25);
  @include fontContent(1.4rem, 1.8rem);
  cursor: pointer;
}
.dropdownFacilities__wrapper{
  padding: .9rem;
  display: flex;
  justify-content: space-between;

}
.material-icons{
  font-size: 2.4rem;
  color: rgba(31,32,65,.75)
}

.dropdownFacilities__list{
  display: none;
  width: 100%;
  margin: 0;
  padding-bottom: .4rem;
  padding-top: .2rem;
  padding-left: 0;
  li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .4rem .6rem .3rem 1.3rem;
  }
  border: .1rem solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
.dropdownFacilities__minus, .dropdownFacilities__plus{
  text-decoration: none;
  background: #fff;
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(31,32,65,.25);
  border-radius: 2rem;
  @include fontContent(1.8rem, 2.2rem);
  color: rgba(31, 32, 65, 0.5);
  outline: 0 !important;
}
.dropdownFacilities__quantity{
  text-align: center;
  text-decoration: none;
  border: none;
  @include fontContent(1.8rem, 2.2rem);
  font-weight: bold;
  outline: 0 !important;
  width: 3.2rem;
  margin-bottom: .25rem;
}
.dropdownFacilities__minus::-moz-focus-inner, .dropdownFacilities__plus::-moz-focus-inner,
.dropdownFacilities__quantity::-moz-focus-inner{
  outline: 0 !important;
}
.dropdownFacilities__meaning{
  @include fontContent(1.2rem, 1.5rem);
  font-weight: bold;
  text-transform: uppercase;
  color: #1F2041;
}

.dropdownFacilities__input{

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }}
