head
    meta(charset="UTF-8")
    style
        include  ../style/dropdown.css

.dropdown
    .dropdown__name Сколько гостей
    .dropdown__icon
ul.dropdown__list
    li.dropdown__li
        .dropdown__meaning Взрослые
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li
        .dropdown__meaning Дети
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li
        .dropdown__meaning Младенцы
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li
        .dropdown__clear
            button.btn-clear очистить
        .dropdown__submit
            button.btn-submit применить


script( src="dropdown.js")


