meta(charset="UTF-8")
style
    include  ../style/dropdown.css
    include dropdown.js
a.dropdown
    .dropdown__name Сколько гостей
    .dropdown__icon
ul.dropdown__list
    li.dropdown__li
        .dropdown__meaning Взрослые
        .dropdown__input
    li.dropdown__li
        .dropdown__meaning Дети
        .dropdown__input
    li.dropdown__li
        .dropdown__meaning Младенцы
        .dropdown__input
    li.dropdown__li
        .dropdown__meaning Взрослые
        .dropdown__input