meta(charset="UTF-8")
link(href='btnPayment.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
button.btnPayment
    .btnPayment__text перейти к оплате
    .btnPayment__icon
        i.material-icons arrow_forward