@import "../../style/mixins/mixin";
.btnPayment{
  position: relative;
  padding: .1rem 2.2rem 0 1.9rem;
  height: 4.4rem;
  width: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  @include fontContent(1.2rem, 1.5rem);
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 2.2rem;
  align-items: center;
  justify-content: space-around;
  .btnPayment__icon{
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    left: 93.1%;
    transform: translate(-50%,-50%);
  }

}