
link(href='drpdownFacil.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
mixin facilities(bedroom, bed, bathroom, expanded )
    .dropdownFacilities
        .dropdownFacilities__wrapper
            .dropdownFacilities__name Удобства
            .dropdownFacilities__icon
                i.material-icons expand_more
    ul(class='dropdownFacilities__list' style='display: '+expanded)
        li.dropdownFacilities__li
            .dropdownFacilities__meaning Спальни
            .dropdownFacilities__input
                button.dropdownFacilities__minus -
                input(type='number' value=''+bedroom).dropdownFacilities__quantity
                button.dropdownFacilities__plus +
        li.dropdownFacilities__li
            .dropdownFacilities__meaning Кровати
            .dropdownFacilities__input
                button.dropdownFacilities__minus -
                input(type='number' value=''+bed ).dropdownFacilities__quantity
                button.dropdownFacilities__plus +
        li.dropdownFacilities__li
            .dropdownFacilities__meaning Ванные комнаты
            .dropdownFacilities__input
                button.dropdownFacilities__minus -
                input(type='number' value=''+ bathroom ).dropdownFacilities__quantity
                button.dropdownFacilities__plus +



script( src="drpdownFacil.js")
