@import "../../style/mixins/mixin";
@import "../../style/variables";

.dropdownFacilities{
  position: relative;
  min-width: 26rem;
  border: .1rem solid $light-dark;
  border-radius: .4rem;
  color: $light-dark;
  @include fontContent(1.4rem, 1.8rem);
  cursor: pointer;
  background: $white;
}
.dropdownFacilities__wrapper{
  padding: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.material-icons{
  font-size: 2.4rem;
  color: $lighter-dark;
}
.dropdownFacilities__list{
  display: none;
  width: 100%;
  margin: 0;
  padding-bottom: .4rem;
  padding-top: .2rem;
  padding-left: 0;
  background: $white;
  li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .4rem .6rem .3rem 1.3rem;
  }
  border: .1rem solid $half-dark;
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem $half-dark;
}

.dropdownFacilities__minus, .dropdownFacilities__plus{
  text-decoration: none;
  background: $white;
  width: 3rem;
  height: 3rem;
  border: .1rem solid $light-dark;
  border-radius: 2rem;
  @include fontContent(1.2rem, 1.5rem);
  color: $half-dark;
  outline: 0 !important;
}
.dropdownFacilities__quantity{
  text-align: center;
  text-decoration: none;
  border: none;
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  outline: 0 !important;
  width: 3.2rem;
  margin-bottom: .25rem;
}
.dropdownFacilities__minus::-moz-focus-inner, .dropdownFacilities__plus::-moz-focus-inner,
.dropdownFacilities__quantity::-moz-focus-inner{
  outline: 0 !important;
}
.dropdownFacilities__meaning{
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  text-transform: uppercase;
  color: $dark-black;
}

.dropdownFacilities__input{

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }}
