@import "../../style/mixins/mixin";
@import "../../style/variables";

.properties__wrapper {
  min-width: 24rem;
}
.properties__content{
  display: flex;
  margin-bottom: 1.2rem;
  .material-icons{
    font-size: 4.8rem;
    line-height: 4.1rem;
    margin-right: 1rem;
    background: $gradient-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;
    text-align: center;
  }
}
.properties__item{
  @include fontContent(1.4rem, 2.4rem);
.properties__name{
font-weight: $bold-weight;
}
  font-weight: normal;
}
.properties__line{
  background: rgba(31, 32, 65, 0.1);
  height: .1rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
