mixin property(icon,name,description)
    .properties__content
        i.material-icons= icon
        .properties__item
            .properties__name= name
            .properties__description= description
    hr.properties__line
