meta(charset="UTF-8")
link(href='properties.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
mixin property(icon,name,description)
    .properties__content
        i.material-icons= icon
        .properties__item
            .properties__name= name
            .properties__description= description
    hr.properties__line
