@import "../../style/mixins/mixin";
@import "../../style/variables";

input.Text-field{
  height: 4.4rem;
  width: 32rem;
  border: .1rem solid $light-dark;
  border-radius: .4rem;
  color: $light-dark;
  @include fontContent(1.4rem, 1.8rem);
  padding: 1.1rem 1.4rem 1.3rem;
}
.Text-field:focus , input.Text-field:hover{
  border: .1rem solid $lighter-dark;
  color: $half-dark;
  border-radius: .4rem;
  outline: none !important;
}
