mixin rangeCalendar(datePlaceholder)
    .date
        input(type="text" class="datepicker-here filterDate" data-range="true" data-format="dd M" data-multiple-dates-separator=" - " placeholder='ДД.ММ-ДД.ММ' value=''+datePlaceholder )
        .date__icon
            i.material-icons expand_more

