doctype html
html
    head
        meta(charset="UTF-8")
        title Colors & Type
        link(href="colors.css" rel="stylesheet")
    body
        .logo
            img(src="../../images/logo.svg").logo__img
        .wrapper
            .typeColors
                mixin typeColors__item(color,nameColor,RGB)
                    .typeColors__item
                        .typeColors__rectangle
                            div(class = "typeColors__rectangle--"+ color)
                        .typeColors__description
                            h3=nameColor
                            p=RGB
                +typeColors__item("Dark100","Dark Shade 100%","#1F2041")
                +typeColors__item("Dark75","Dark Shade 75%","#1F2041")
                +typeColors__item("Dark50","Dark Shade 50%","#1F2041")
                +typeColors__item("Dark25","Dark Shade 25%","#1F2041")
                +typeColors__item("Dark5","Dark Shade 5%","#1F2041")
                +typeColors__item("Purple","Purple","#BC9CFF")
                +typeColors__item("Green","Green","#6FCF97")
            .typeFonts
                .typeFonts__item
                    .typeFonts__headline.headlineFonts1  H1
                    h1.typeFonts__description This one is the sub-section or widget title
                .typeFonts__item
                    .typeFonts__headline.headlineFonts2 H2
                    h2.typeFonts__description Next one is the item title inside widgets
                .typeFonts__item
                    .typeFonts__headline.headlineFonts3 H3
                    h3.typeFonts__description This is a label or CTA text
                .typeFonts__item
                    .typeFonts__headline.headlineFonts4 Body
                    p.typeFonts__description This is the body text which is used for most of the design,like paragraphs, lists, etc.


