@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf), url(../fonts/Montserrat-Regular.otf), url(../fonts/Montserrat-Regular.eot), url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand-Bold.ttf);
}
body {
  margin: 0;
}

.logo__img {
  width: 48px;
  padding: 1.55%;
}

.wrapper {
  padding-top: 1.9%;
  display: grid;
  grid-template-columns: 39.6% 45.4%;
  position: relative;
}

.typeColors {
  display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  grid-row-gap: 0.3%;
}

.typeColors__rectangle--Dark100 {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: #1F2041;
}

.typeColors__rectangle--Dark75 {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.75);
}

.typeColors__rectangle--Dark50 {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.5);
}

.typeColors__rectangle--Dark25 {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.25);
}

.typeColors__rectangle--Dark5 {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: rgba(31, 32, 65, 0.05);
}

.typeColors__rectangle--Purple {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: #BC9CFF;
}

.typeColors__rectangle--Green {
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: #6FCF97;
}

.typeColors__item {
  display: grid;
  justify-content: center;
  grid-template-columns: 32.5% 67.5%;
  grid-gap: 5.3%;
}

.typeColors__rectangle {
  justify-self: end;
}

.typeColors__description {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-size: 100%;
  line-height: 7px;
  color: #1F2041;
}
.typeColors__description h3 {
  font-weight: 900;
}
.typeColors__description p {
  font-weight: normal;
  font-size: 110%;
  padding-top: 0.5%;
}

.typeFonts__item {
  display: grid;
  grid-template-columns: 4% 64%;
  grid-gap: 1rem;
}
.typeFonts__item h3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.typeFonts__item p {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.typeFonts {
  display: grid;
  grid-template-rows: 17.5% 15.7% 10% 10%;
  justify-content: center;
}

h1 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: Quicksand, sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 24px;
}

.typeFonts__headline {
  color: rgba(31, 32, 65, 0.25);
  margin: 0;
}

.typeFonts__description {
  margin: 0;
}

.headlineFonts1 {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 24px;
  line-height: 29px;
}

.headlineFonts2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 19px;
  line-height: 23px;
}

.headlineFonts3 {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 12px;
  line-height: 15px;
}

.headlineFonts4 {
  font-family: "Montserrat-Regular", sans-serif;
  font-style: normal;
  color: #1F2041;
  font-size: 14px;
  line-height: 24px;
}

/*# sourceMappingURL=colors.css.map */
