@import "../../style/mixins/mixin";
@mixin rectangle($bgColor){
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: $bgColor;
}
body{
  margin: 0;
}
.logo__img{
  width: 48px;
  padding: 1.55%;
}
.wrapper{
  padding-top: 1.9%;
  display: grid;
  grid-template-columns: 39.6% 45.4%;
  position: relative;
}
.typeColors{
display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  grid-row-gap: .3%;

}
.typeColors__rectangle--Dark100{
@include rectangle(#1F2041);
}
.typeColors__rectangle--Dark75{
  @include rectangle( rgba(31, 32, 65, 0.75));
}
.typeColors__rectangle--Dark50{
  @include rectangle( rgba(31, 32, 65, 0.5));
}
.typeColors__rectangle--Dark25{
  @include rectangle( rgba(31, 32, 65, 0.25));
}
.typeColors__rectangle--Dark5{
  @include rectangle( rgba(31, 32, 65, 0.05));
}
.typeColors__rectangle--Purple{
  @include rectangle( #BC9CFF);
}
.typeColors__rectangle--Green{
  @include rectangle( #6FCF97);
}
.typeColors__item{
  display:grid;
  justify-content: center;
  grid-template-columns: 32.5% 67.5%;
  grid-gap: 5.5%;
}
.typeColors__rectangle{
  justify-self: end;
}
.typeColors__description{
  @include fontHeadline(100%,7px);
  h3{
    font-weight: 900;
  }
  p{
    font-weight: 500;
    font-size: 110%;
    padding-top: .5%;
  }
  color: #1F2041;
}
.typeFonts__item{
  display: flex;}
.typeFonts{
  margin-left: 21%;
}
h1{
  @include fontHeadline(24px, 30px)
}
h2{
  @include fontHeadline(19px, 24px)
}
.typeFonts__headline{
  color: rgba(31, 32, 65, 0.25);
}