@import "../../style/mixins/mixin";
@mixin rectangle($bgColor){
  border-radius: 6px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  background: $bgColor;
}
body{
  margin: 0;
  background: #E5E5E5;
}
.logo__img{
  width: 48px;
  padding: 1.55%;
}
.wrapper{
  padding-top: 1.8%;
  display: grid;
  grid-template-columns: 35% 53.5%;
  position: relative;
}
.typeColors{
display: grid;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  grid-row-gap: .3%;

}
.typeColors__rectangle--Dark100{
@include rectangle(#1F2041);
}
.typeColors__rectangle--Dark75{
  @include rectangle( rgba(31, 32, 65, 0.75));
}
.typeColors__rectangle--Dark50{
  @include rectangle( rgba(31, 32, 65, 0.5));
}
.typeColors__rectangle--Dark25{
  @include rectangle( rgba(31, 32, 65, 0.25));
}
.typeColors__rectangle--Dark5{
  @include rectangle( rgba(31, 32, 65, 0.05));
}
.typeColors__rectangle--Purple{
  @include rectangle( #BC9CFF);
}
.typeColors__rectangle--Green{
  @include rectangle( #6FCF97);
}
.typeColors__item{
  display:grid;
  justify-content: center;
  grid-template-columns: 49% 50%;
  grid-gap: 6.2%;
}
.typeColors__rectangle{
  justify-self: end;
}
.typeColors__description{
  @include fontHeadline(100%,7px);
  h3{
    font-weight: 900;
    margin-top: 5.5%;
  }
  p{
    font-weight: normal;
    font-size: 110%;
    padding-top: .5%;

  }
  color: #1F2041;
}
.typeFonts__item{
  display: grid;
  grid-template-columns: 4% 60%;
grid-gap: 4.8%;
  justify-content: end;
  h3{
    @include fontContent(12px, 15px);
    text-transform: uppercase;
  }
  p{
    @include fontContent(14px, 24px);
    color: rgba(31, 32, 65, 0.75);
  }
}
.typeFonts{
  display: grid;
  grid-template-rows: 17.5% 15.7% 10% 10%;
  justify-content: end;
}
h1{
  @include fontHeadline(24px, 30px)
}
h2{
  @include fontHeadline(19px, 24px)
}
.typeFonts__headline{
  color: rgba(31, 32, 65, 0.25);
justify-self: end;

}
.typeFonts__description{
  margin: 0;
  justify-content: start;
}
.headlineFonts1{
  @include fontContent(24px, 29px)
}
.headlineFonts2{
  @include fontContent(19px,23px)
}
.headlineFonts3{
  @include fontContent(12px, 15px)
}
.headlineFonts4{
  @include fontContent(14px, 24px)
}
