meta(charset="UTF-8")
link(href='richCheckbox.css' rel='stylesheet')
mixin richCheckbox-label(name,text)
    label.richcheckboxList__adds= name
        input(type="checkbox" name="adds" class="richcheckboxList__custom")
        span.richcheckboxList__checkbox
        p.richcheckboxList__text= text

