
.checkboxList{
  min-width: 24rem;
}
.checkboxList__wrapper{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.checkboxList__buttons{
  display: grid;
}
.checkboxList__name{
  @include fontContent(1.2rem, 1.5rem);
  text-transform: uppercase;
  font-weight: $bold-weight;
  margin-bottom: 1rem;
}

.checkboxList__adds, .richcheckboxList__adds{
  display: block;
  position: relative;
  padding-top: .1rem;
  padding-bottom: .1rem;
  @include fontContent(1.4rem, 1.8rem);
  font-weight: bold;
  color: $lighter-dark;
  margin-bottom: 1.1rem;
  padding-left: 2.98rem;
}
.richcheckboxList__adds{
  margin-bottom: -.4rem;
}

.checkboxList__custom, .richcheckboxList__custom{
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkboxList__checkbox::before, .richcheckboxList__checkbox::before {
  content: "";
  width: .4rem;
  height: .6rem;
  position: absolute;
  left: .7rem;
  top: .4rem;
  transition: background 0.3s ease;
  border: solid transparent;
  border-image: $gradient-purple;
  border-image-slice: 1;
  border-width: 0 .2rem .2rem 0;
  transform: rotate(45deg);
  display: none;
}
.checkboxList__custom:checked ~.checkboxList__checkbox:before {
  display: block;
}
.checkboxList__adds input:checked +.checkboxList__checkbox{
  border-color: $purple;
}
.richcheckboxList__custom:checked ~.richcheckboxList__checkbox:before {
  display: block;
}
.richcheckboxList__adds input:checked +.richcheckboxList__checkbox{
  border-color: $purple;
}
.checkboxList__checkbox, .richcheckboxList__checkbox{
  display: block;
  position: absolute;
  top: .046rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: $white;
  border: .1rem solid $light-dark;
  box-sizing: border-box;
  border-radius: .4rem;
  cursor: pointer;
}
.checkboxList__checkbox:hover{
  border-color: $purple;
}
.checkboxList__text, .richcheckboxList__text{
  @include fontContent(1.2rem, 1.4rem);
  color: $half-dark;
  font-weight: $light-weight;
  margin-left: 0;
  margin-top: .9rem;
  width: 80%;
  text-align: left;
}
.richcheckboxList__text{
  margin-top: .6rem;
}