@import "../../style/mixins/mixin";
.checkboxList{
  min-width: 24rem;
}
.checkboxList__wrapper{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.checkboxList__dropdown{
  display: none;
}
.checkboxList__buttons{
  display: grid;
}
.checkboxList__name{
  @include fontContent(12px, 15px);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}
.checkboxList__adds{
  display: block;
  position: relative;
  padding-top: .1rem;
  padding-left: 2rem;
  padding-bottom: .1rem;
  @include fontContent(14px, 18px);
  font-weight: 400;
  color: rgba(31,32,65,.5);
  margin-bottom: 1.1rem;
}

.checkboxList__custom{
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkboxList__checkbox::before {
  content: "";
  width: 4px;
  height: 6px;
position: absolute;
  left: 7px;
  top: 5px;
  transition: background 0.3s ease;
  border: solid transparent;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-image-slice: 1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
 display: none;
}
.checkboxList__custom:checked ~.checkboxList__checkbox:before {
display: block;
}
.checkboxList__adds input:checked +.checkboxList__checkbox{
  border-color: #BC9CFF;
}
.checkboxList__checkbox{
  display: block;
  position: absolute;
  top: .046rem;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid rgba(31,32,65,.25);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}
.checkboxList__checkbox:hover{
    border-color: #BC9CFF;
  }
