meta(charset="UTF-8")
link(href='checkboxList.css' rel='stylesheet')
.checkboxList
    .checkboxList__name checkbox buttons
    .checkboxList__buttons
        label.checkboxList__adds Можно курить
            input(type="checkbox" name="adds" class="checkboxList__custom")
            span.checkboxList__checkbox
        label.checkboxList__adds Можно с питомцами
            input(type="checkbox" name="adds" class="checkboxList__custom")
            span.checkboxList__checkbox
        label.checkboxList__adds Можно пригласить гостей (до 10 человек)
            input(type="checkbox" name="adds" class="checkboxList__custom")
            span.checkboxList__checkbox
