doctype html
html
    head
        meta(charset="UTF-8")
        title Colors & Type
        link(href='diagram.css')
    body
        svg(width="10%" height="10%" viewBox="0 0 42 42" class="donut")
            circle(class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff")
            circle(class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff" stroke-width="3" )
            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#FFBA9C" stroke-width="3" stroke-dasharray="50 50" stroke-dashoffset="75")
            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#BC9CFF" stroke-width="3" stroke-dasharray="25 75" stroke-dashoffset="225")
            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#6FCF97" stroke-width="3" stroke-dasharray="25 75" stroke-dashoffset="300")
            circle(class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#919191" stroke-width="3" stroke-dasharray="0 100" stroke-dashoffset="375")

        script(src='diagram.js')