mixin review(pathImg, username,date, comment)
    .review
        .review__item
            .review__item_left
                .review__avatar
                    img(class='review__avatar-img' src=''+pathImg)
                .review__likeBtn
                    +likeBtn('12','likeBtn-selected','favorite')
            .review__item_right
                .review__username= username
                .review__date= date
                .review__comment= comment