
.review__item{
  display: flex;
}
.review__avatar{
  width: 4.8rem;
  margin-right: 1rem;
}
.review__avatar-img{
  margin-left: -2rem;
  margin-top: -1rem;
  margin-bottom: -2rem;
}
.review__likeBtn{
  margin-right: 1rem;
}
.review__username{
  text-align: left;
@include fontContent(1.4rem, 2.4rem);
  font-weight: $bold-weight;
  color: $lighter-dark;
}
.review__date, .review__comment{
  text-align: left;
  @include fontContent(1.4rem, 2.4rem);
  font-weight: $light-weight;
  color: $lighter-dark;
}
.review__comment{
  text-align: left;
  margin-top: 1rem;
}