footer
    .footer__wrapper
        .footer__section
            .footer__top
                .footer__widgets
                    .footer__column-brand
                        .footer__logo
                            .footer__logo-image
                                img(src="assets/images/logo-color.png")
                            .footer__logo-title
                                img(src="assets/images/nameCompany.svg")
                        .footer__sitedescription Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer__columns-widgets
                        .footer__column
                            h3.footer__column-title Навигация
                            .footer__link О нас
                            .footer__link Новости
                            .footer__link Служба поддержки
                            .footer__link Услуги
                        .footer__column
                            h3.footer__column-title О нас
                            .footer__link О сервисе
                            .footer__link Наша команда
                            .footer__link Вакансии
                            .footer__link Инвесторы
                        .footer__column
                            h3.footer__column-title Служба поддержки
                            .footer__link Соглашения
                            .footer__link Сообщества
                            .footer__link Связь с нами
                    .footer__column-subscribe
                        h3.footer__column-title Подписка
                        .footer__subscribe-text Получайте специальные предложения и новости сервиса
                        +subscription('Email')
            .footer__bottom
                .footer__confidence Copyright © 2018 Toxin отель. Все права зачищены.
                .footer__sociallinks
                    a(class='footer__socialLink' href="https://twitter.com/")
                        i(class='fa fa-twitter footer__icon')
                    a(class='footer__socialLink' href="https://www.facebook.com/")
                        i(class='fa fa-facebook-square footer__icon')
                    a(class='footer__socialLink' href="https://www.instagram.com/")
                        i(class='fa fa-instagram footer__icon')
    .footerMobile__wrapper
        .footer__logo
            .footer__logo-image
                img(src="assets/images/logo-color.png")
            .footer__logo-title
                img(src="assets/images/nameCompany.svg")
        .footer__confidence Copyright © 2018 Toxin отель. Все права зачищены.
        .footer__sociallinks
            a(class='footer__socialLink' href="https://twitter.com/")
                i(class='fa fa-twitter footer__icon')
            a(class='footer__socialLink' href="https://www.facebook.com/")
                i(class='fa fa-facebook-square footer__icon')
            a(class='footer__socialLink' href="https://www.instagram.com/")
                i(class='fa fa-instagram footer__icon')