doctype html
html
    head
        link(href="footer.css" rel="stylesheet")
        link(href='../../style/fonts/brandsfont/all.min.css' rel='stylesheet')
        include  ../../Blocks/allBlocks
    footer
        .footerMobile__wrapper
            .footer__logo
                .footer__logo-image
                    img(src="../../images/logo-color.png")
                .footer__logo-title
                    img(src="../../images/nameCompany.svg")
            .footer__confidence Copyright © 2018 Toxin отель. Все права зачищены.
            .footer__sociallinks
                a(class='footer__socialLink' href="https://twitter.com/")
                    i(class='fa fa-twitter footer__icon')
                a(class='footer__socialLink' href="https://www.facebook.com/")
                    i(class='fa fa-facebook-square footer__icon')
                a(class='footer__socialLink' href="https://www.instagram.com/")
                    i(class='fa fa-instagram footer__icon')