
body{
  margin: 0;
}
footer{
  margin: 0;
  padding: 0;
}
.footer__wrapper{
  border-top: 1px solid $light-dark;
  min-width: 32rem;
  background: $white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
.footerMobile__wrapper{
  background: $white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}
.footer__top{
  border-bottom: 1px solid #dedee3;
  padding: 9.5rem 2rem 7.9rem;
}
.footer__widgets{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
  text-align: left;
}
.footer__column-brand,
.footer__column-subscribe{
  min-width: 26rem;
  max-width: 26rem;
  margin-top: .5rem;
}
.footer__column-subscribe{
  input.subTextfield__input{
    min-width: 23rem;
  }
  .footer__column-title{
    margin-bottom: 2.1rem;
    margin-top: .9rem;
}
}
.footer__logo{
  display: flex;
  image{
    width: 4rem;
    height: 4rem;
  }
  margin-bottom: 1.6rem;
}
.footer__logo-image{
  margin-right: 1.25rem;
}
.footer__logo-title{
  display: flex;
  align-content: center;
}
.footer__sitedescription,
.footer__subscribe-text{
  @include fontContent(1.4rem,2.4rem);
  color: $lighter-dark;
  font-weight: $light-weight;
}

.footer__subscribe-text{
  margin-bottom: 2.1rem;
}
.footer__link,
.footer__confidence {
  @include fontContent(1.4rem,1.7rem);
  color: $half-dark;
  font-weight: $light-weight;
}

.footer__column-title{
  @include fontContent(1.2rem,1.5rem);
  text-transform: uppercase;
  color: $dark-black;
  font-weight: $bold-weight;
  margin-bottom: 2.2rem;
}
.footer__link{
  margin-bottom: 2.1rem;
  cursor: pointer;
}
.footer__bottom{
  max-width: 1160px;
  padding: 0 2rem;
  margin: .2rem auto .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__confidence {
  color: $lighter-dark;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
.footer__columns-widgets{
  display: flex;
  flex: 1 1 0;
  padding: 0 2rem;
  .footer__column{
margin-left: 2rem;
  }
  .footer__column-title{
    margin-bottom: 2.8rem;
  }
}
.footer__columns-widgets>:nth-child(2){
padding: 0 7rem 0 .5rem;
}
.footer__columns-widgets>:nth-child(2){
  margin-left: 5.5rem;
}

.footer__sociallinks{
  display: flex;
  align-items: center;
 justify-content: space-between;
}
.footer__socialLink{
  text-decoration: none;
}
.fa-twitter:before {
  content: "\f099";
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}
.fa-facebook-square:before {
  content: "\f082";
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}
.fa-instagram:before {
  content: "\f16d";
  font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  font-weight: 900;
  width: 100px;
  height: 100px;
}
.fa {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  background: $gradient-purple;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $purple;
}
.footerMobile__wrapper{
  display:none;
  justify-content: center;
  text-align: center;
  .footer__confidence{
    padding-top: 0;
  }
  .footer__sociallinks{
    justify-content: center;
    margin-bottom: 12rem;
  }
  .footer__logo{
    margin-top: 12rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
.fa-facebook-square{
  margin-right: .5rem;
}
@media (max-width: 768px) {
  .footerMobile__wrapper{
    display: grid;
  }
  .footer__wrapper{
    display: none;
  }
}