@mixin fontHeadline($fontSize,$lineHeight){
    font-family: Quicksand, "Open Sans", sans-serif;
    font-style: normal;
    font-size: $fontSize;
    line-height: $lineHeight;
  }
@mixin fontContent($fontSize,$lineHeight){
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: $fontSize;
  line-height: $lineHeight;
}
