doctype html
html
    head
        meta(charset="UTF-8")
        title Menu
    body
        .logo
            img(src="./assets/images/logo.svg").logo__img
        .wrapper__menu
            nav.menu
                .menu__link-title UI-kit pages
                a(class='menu__link' href='./UI-kit/colors.html') Colors & Types
                a(class='menu__link' href='./UI-kit/formElements.html') Form Elements
                a(class='menu__link' href='./UI-kit/cards.html') Cards
                a(class='menu__link' href='./UI-kit/headersFooters.html') Headers & Footers
                .menu__link-title Website pages
                a(class='menu__link' href='landingPage.html') Landing page
                a(class='menu__link' href='searchRoom.html') Search room
                a(class='menu__link' href='roomDetails.html') Room details
                a(class='menu__link' href='registrationPage.html') Registration
                a(class='menu__link' href='authorization.html') Sign In

