@import "../../style/mixins/mixin";
@import "../../style/variables";

.dropdown{
  position: relative;
  min-width: 26rem;
  color: $lighter-dark;
  @include fontContent(1.4rem, 1.8rem);
  cursor: pointer;
}
.dropdown__wrapper{
  border: .1rem solid $light-dark;
  border-radius: .4rem;
  padding: .8rem .9rem .5rem 1.4rem;
  display: flex;
  justify-content: space-between;
 background: $white;
  align-items: center;
}
.material-icons{
  font-size: 2.4rem;
  color: $lighter-dark;
}

.dropdown__list{
  display: none;
  width: 100%;
  margin: 0;
  padding-bottom: .4rem;
  padding-top: .2rem;
  padding-left: 0;
  background: $white;
  border-radius: .4rem;
  li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .4rem .6rem .3rem 1.3rem;
  }
  border: .1rem solid $half-dark;
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem $half-dark;
}
.dropdown__minus, .dropdown__plus{
  text-decoration: none;
  background: $white;
  width: 3rem;
  height: 3rem;
  border: .1rem solid $light-dark;
  border-radius: 2rem;
  @include fontContent(1.8rem, 2.2rem);
  color: $half-dark;
  outline: 0 !important;
}
.dropdown__minus{
opacity: 0.5;
}

.dropdown__visitors{
  text-align: center;
  text-decoration: none;
  border: none;
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  outline: 0 !important;
}
.dropdown__meaning{
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  text-transform: uppercase;
  color: $dark-black;
  margin-top: .7rem;
}

.dropdown__clear{
  visibility: hidden;
  display: block;
}
.dropdown__input{
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
appearance: none;
    margin: 0;
  }}
.dropdown__li-buttons{
  margin-top: 1.2rem;
  margin-bottom: .6rem;
  padding-left: 0;
  button{
    border: none;
    outline: none;
    background: 0 0;
    text-transform: uppercase;
    @include fontContent(1.2rem, 1.5rem);
    font-weight: bold;
  }
}
.btn-submit, .btn-clear{
  color: $purple;
}
.btn-clear{
  padding-left: 0;
}
.btn-submit{
  padding-right: 0;
}


