@import "../../style/mixins/mixin";
@import "../../style/variables";

.radioBtns{
  min-width: 24rem;
}

.radioBtns__buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.radioBtns__name{
  @include fontContent(1.2rem, 1.5rem);
  text-transform: uppercase;
  font-weight: $bold-weight;
  margin-bottom: 1rem;
}
.radioBtns__adds{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
  @include fontContent(1.4rem, 2.4rem);
  font-weight: $light-weight;
  color: $half-dark;
}

.radioBtns__custom{
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-right: 1rem;
}
.radioBtns__radio{
  display: block;
  top: .046rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: .1rem solid $light-dark;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}
.radioBtns__radio::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1rem;
  background: $gradient-purple;
  top: 49%;
  left: 10.2%;
  transform: translate(-50%,-50%);
display: none;
}
.radioBtns__custom:checked ~.radioBtns__radio:before {
display: block;
}
.radioBtns__adds input:checked+.radioBtns__radio{
  border-color: $purple;
  background: $white;
  color: $lighter-dark;
}

.radioBtns__radio:hover{
  border-color: $purple;
}
