doctype html
html
    head
        meta(charset="UTF-8")
        title Registration
        link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
        link(href="../../Blocks/DateDropdown/datepicker.min.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        link(href="registrationPage.css" rel="stylesheet")
        link(href="../../../dist/main.css" rel="stylesheet")
    body
        .wrapper
            .wrapper__header
                include ../../Blocks/header/header
            .wrapper__mainBlock
                .wrapper__registrationCard
                    +registration
            .wrapper__footer
                include ../../Blocks/footer/footer
        script(src="../../Blocks/header/headerDropdown.js")