meta(charset="UTF-8")
link(href='pagination.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
.pagination
    .pagination__items
        a(href='#' class='pagination__number-active pagination__number-active')
            span.pagination__page 1
        a.pagination__number(href='#')
            span.pagination__page 2
        a.pagination__number(href='#')
            span.pagination__page 3
        a.pagination__number(href='#')
            span.pagination__page ...
        a.pagination__number(href='#')
            span.pagination__page 15
        a.pagination__next(href='#')
            i.material-icons arrow_forward
    .pagination__text 1 – 12 из 100+ вариантов аренды