link(href='TextField.css' rel='stylesheet')
mixin textfield(place,hover)
    div(class='textField__wrapper'+hover)
        input( type="text" name="username" class="Text-field"+hover  placeholder=""+place)

