mixin cardRoom(imageRoom, numRoom, categoryRoom, costRoom, reviews,classHover,star1, star2,star3,star4,star5 )
    .cardRoom
        div(class='cardRoom__image'+classHover style='background-image: '+imageRoom)
            .cardRoom__slider
                .cardRoom__slider-symbol_left
                    i(class='material-icons cardRoom__icon_left') expand_more
                .cardRoom__slider-symbol_right
                    i(class='material-icons cardRoom__icon_right') expand_more
            .cardRoom__dots
                .cardRoom__dots-symbol
                .cardRoom__dots-symbol
                .cardRoom__dots-symbol
                .cardRoom__dots-symbol
        .cardRoom__description
            .cardRoom__title
                .cardRoom__titleRoom
                    .cardRoom__numRoom-symbol №
                    .cardRoom__numRoom= numRoom
                    .cardRoom__numCategory= categoryRoom
                .cardRoom__price
                    .cardRoom__price-cost= costRoom
                    .cardRoom__price-text в сутки
            .cardRoom__line
            .cardRoom__rating
                .cardRoom__rateBtn
                    +rateBtn(star1, star2, star3, star4, star5)
                .cardRoom__review
                    .cardRoom__review-quantity= reviews
                    .cardRoom__review-text Отзывов
