doctype html
html
    head
        meta(charset="UTF-8")
        title Form Elements
        link(href="../../Blocks/DateDropdown/datepicker.min.css" rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src='../../Blocks/DateDropdown/calendar.js')
        link(href="formElements.css" rel="stylesheet")
        include  ../../Blocks/allBlocks
    body
        .logo
            img(src="../../images/logo.svg").logo__img
        .formElements__wrapper
            .formElements__row-first
                mixin containerHeader(label, status)
                    .formElements__container-header
                        .formElements__container-label= label
                        .formElements__container-status= status
                .formElements__column_first
                    .formElements__container
                        +containerHeader('text field', 'default')
                        +textfield('Email','')
                    .formElements__container
                        +containerHeader('text field', 'hover/focus')
                        +textfield('This is pretty awesome',', hover')
                    .formElements__container
                        +containerHeader('dropdown', '')
                        +visitors('','0','0','0')
                    .formElements__container
                        +containerHeader('masked text field', '')
                        +textfield('ДД.ММ.ГГГГ','')
                    .formElements__container-date
                        .formElements__container
                            +containerHeader('date dropdown', '')
                            +calendar
                        .formElements__container
                            +containerHeader('date dropdown', '')
                            +calendar
                    .formElements__container
                        +containerHeader('filter date dropdown', '')
                        +rangeCalendar
                    .formElements__container
                        +containerHeader('subscription text field', '')
                        +subscription('Email')
                .formElements__column_second
                    .formElements__container
                        +containerHeader('checkbox buttons', '')
                        +checkboxList('Можно курить','Можно с питомцами', 'Можно пригласить гостей (до 10 человек)')
                    .formElements__container
                        +containerHeader('radio buttons', '')
                        +radioBtns('Мужчина', 'Женщина')
                    .formElements__container
                        +containerHeader('toggle', '')
                        +toggle('Получать спецпредложения',', active')
                        +toggle('Получать спецпредложения','')
                    .formElements__container
                        +containerHeader('like button', '')
                        .formElements__container-like
                            +likeBtn('2','','favorite_border')
                            +likeBtn('12','likeBtn-selected','favorite')
                    .formElements__container
                        +containerHeader('rate button', '')
                        .formElements__container-rate
                            +rateBtn('star', 'star', 'star', 'star', 'star_border')
                            +rateBtn('star', 'star', 'star', 'star', 'star')
                .formElements__column_third
                    .formElements__container
                        .formElements__container-slider
                            +rangeSlider('range slider','5000','10000')
                    .formElements__container
                        +containerHeader('buttons', '')
                        .formElements__container-buttons
                            +button('button', 'click me')
                            +button('button button-disabled', 'click me')
                        .formElements__container-buttonsBorder
                            +button('button__wrapper', 'click me')
                            +button('button__wrapper buttonBorder-disabled', 'click me')
                        .formElements__container-iconLink
                            +iconLink('click me', 'hover')
                            +iconLink('click me', '')
                        .formElements__container-btnPayment
                            +btnPayment('перейти к оплате')
                    .formElements__container
                        +containerHeader('pagination', '')
                        +pagination('2','3','...','15')
            .formElements__row-second
                .formElements__column
                    .formElements__container
                        +containerHeader('dropdown', 'default')
                        +facilities('2', '2', '0', '')
                    .formElements__container
                        +containerHeader('dropdown', 'expanded')
                        +facilities('2', '2', '0', 'block')
                .formElements__column
                    .formElements__container
                        +containerHeader('dropdown', '')
                        +visitors('block','0','0','0')
                .formElements__column
                    .formElements__container
                        +containerHeader('dropdown', '')
                        +visitors('block','2','1','0')
            .formElements__row-third
                .formElements__column
                    .formElements__container
                        +checkboxDropdown('expandable checkbox list', '', 'Завтрак', 'Письменный стол',
                            'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь')
                    .formElements__container
                        +checkboxDropdown('expandable checkbox list', 'checkboxListExpanded', 'Завтрак', 'Письменный стол',
                            'Стул для кормления', 'Кроватка', 'Телевизор', 'Шампунь', 'Телевизор', 'Шампунь')
                .formElements__column
                    .formElements__container
                        +containerHeader('Rich Checkbox Buttons', '')
                        +richCheckbox-label('Широкий коридор','Ширина коридоров в номере не менее 91 см.')
                        +richCheckbox-label('Помощник для инвалидов','На 1 этаже вас встретит специалист и проводит до номера.')
                .formElements__column
                    .formElements__container
                        +containerHeader('bullet list', '')
                        +bulletList('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
            .formElements__row-fourth
                .formElements__column
                    +property('insert_emoticon' , 'Комфорт' , 'Шумопоглощающие стены')
                    +property('location_city', 'Удобство', 'Окно в каждой из спален')
                .formElements__column
                    +review('../../images/avatar.png', 'Мурад Сарафанов', '5 дней назад','Великолепный матрас ' +
                    'на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.' +
                    ' Выкрикивал комплименты повару — никто не жаловался из соседей.')
        script(src='../../../dist/main.bundle.js')
        script(src='../../Blocks/DateDropdown/datepicker.min.js')
        script(src='../../Blocks/likeBtn/likeBtn.js')
        script(src='../../Blocks/rateBtn/rateBtn.js')
        script(src='../../Blocks/rangeSlider/rangeSlider.js')
        script(src='../../Blocks/dropdownFacilities/drpdownFacil.js')
