@import "../../Blocks/allBlocks";
@import "../../style/mixins/mixin";
@import "../../style/variables";
html{
  font-size: 10px;
}
body{
  margin: 0;
  background: #E5E5E5;

}
.logo__img{
  width: 48px;
  padding: 1.55%;
}
.formElements__wrapper{
  width: 80.5%;
  margin: 2.5rem auto 0;
  text-align: center;
}
.formElements__row-first, .formElements__row-second, .formElements__row-third, .formElements__row-fourth{
  display: flex;
  justify-content: space-between;
}
.formElements__column_first, .formElements__column_third{
  flex: 1 1 0;
  padding: 2rem;
  max-width: 32rem;
}
.formElements__column_first>:first-child{
  max-width: 32rem;
}
.formElements__container {
  margin: 2rem 0;
}
.formElements__container-header{
  text-transform: uppercase;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  @include fontContent(1.2rem, 1.5rem);
  .formElements__container-label{
    font-weight: $bold-weight;
    color: $dark-black;
  }
  .formElements__container-status{
    font-weight: $light-weight;
    color: $half-dark;
  }
}
.formElements__container-date{
  display: flex;
  justify-content: space-between;
  max-width: 32rem;
}
.formElements__container-date>:first-child{
  margin-right: 2rem;
}
.formElements__container-date>:first-child, .formElements__container-date>:nth-child(2){
width: 100%;
}
.formElements__container-filterDate, .formElements__container-subTextfield{
  max-width: 29rem;
  margin: 2rem 0;
}
.formElements__container-subTextfield{
  margin-top: 4rem;
}
.formElements__column_second{
  flex: 1 1 0;
  max-width: 26.6rem;
  padding: 2rem;
}
.formElements__column_second>:first-child{
  margin-bottom: 3rem;
}
.formElements__column_second>:first-child>:first-child{
  margin-bottom: 1.6rem;
}
.formElements__column_second>:nth-child(2){
  margin-bottom: 3.9rem;
}
.formElements__column_second>:nth-child(3){
  margin-bottom: 4.3rem;
}
.formElements__column_second>:nth-child(2)>:first-child {
  margin-bottom: 1.3rem;
}
.formElements__column_second>:nth-child(3)>:nth-child(2){
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}
.formElements__container-like, .formElements__container-rate{
  display: flex;
  margin-top: 1.6rem;
}
.formElements__container-like>:first-child {
  margin-right: 1rem;
}
.formElements__column_second>:nth-child(4){
  margin-bottom: 4rem;
}
.formElements__container-rate>:first-child{
  margin-right: 2rem;
}
.formElements__container-slider{
text-align: start;
}
.formElements__column_third>:nth-child(2){
  margin-top: 7.4rem;
  margin-bottom: 4rem;
}
.formElements__column_third>:nth-child(3){
  max-width: 24.1rem;
}
.formElements__container-buttons{
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  margin-left: .1rem;
}
.formElements__container-buttons>:first-child{
  margin-right: 1.9rem;}
.formElements__container-buttonsBorder{
  display: flex;
  justify-content: flex-start;
}
.formElements__container-buttonsBorder>:first-child{
  margin-right: 1.9rem;
}
.formElements__container-iconLink{
  margin-top: 3.3rem;
  margin-bottom: 3rem;
  margin-left: .1rem;
  display: flex;
}
.formElements__container-iconLink>:first-child{
  margin-right: 2.1rem;
}
.formElements__row-second{
  margin-top: 4rem;
}
.formElements__row-second>:first-child{
  padding-right: 2rem;
  margin-right: 10.8rem;
  max-width: 26.6rem;
  flex: 1 1 0;
  padding-left: 2rem;
  min-height: 29rem;
}
.formElements__row-second>:first-child>:first-child{
margin-bottom: 1rem;
}
.formElements__row-second>:nth-child(2),
.formElements__row-second>:nth-child(3){
  flex: 1 1 0;
  max-width: 32rem;
  min-height: 23rem;
  padding: 0 2rem;
}

.formElements__row-second>:nth-child(2)>:first-child{
  max-width: 32rem;
  min-height: 23rem;
  padding-right: 2rem;
}
.formElements__row-third>:first-child{
  flex: 1 1 0;
  padding: 1.3rem 2rem 2rem 2rem;
  margin-right: 25rem;
}
.formElements__row-third>:nth-child(2){
  flex: 1 1 0;
  padding: 1.3rem 2rem 2rem 2rem;
  margin-right: 2rem;
}
.formElements__row-third>:nth-child(2)>:first-child>:first-child {
  margin-bottom: 1.6rem;
}
  .formElements__row-third>:first-child>:first-child{
    margin-bottom: 3.9rem;
    max-width: 25.6rem;
  }
  .formElements__row-third>:first-child>:nth-child(2){
    margin-left: -.1rem;
    max-width: 25.6rem;
  }
  .formElements__row-third>:nth-child(3){
    text-align: left;
    flex: 1 1 0;
    padding: 1.3rem 2rem 2rem 2rem;
    margin-left: 17rem;
  }
  .formElements__row-fourth{
    margin-top: 5.1rem;
  }
  .formElements__row-fourth>:first-child{
    max-width: 27rem;
    padding: 2rem;
    margin-left: -.1rem;
    text-align: left;
  }
  .formElements__row-fourth>:nth-child(2){
    flex: 1 1 0;
    padding: 2rem;
    max-width: 71.2rem;
    margin-top: 1rem;
  }
