
.iconLink{
  @include fontContent(1.2rem, 1.5rem);
  text-transform: uppercase;
  color: $half-dark;
  font-weight: $bold-weight;
  cursor: pointer;
}
.iconLink:hover{
  color: $purple;
}
.hover{
  color: $purple;
}