.rateBtn{
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.rateBtn__icon{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}