@import "../../style/mixins/mixin";
@import "../../style/variables";

.subTextfield{
  display: flex;
  position: relative;
}
.subTextfield__icon{
  display: flex;
  transform: translate(-140%);
  color:  $purple;
 font-size: 2.4rem;
    align-items: center;
  cursor: pointer;
}

input.subTextfield__input{
  border: .1rem solid $light-dark;
  border-radius: .4rem;
  color: $light-dark;
  @include fontContent(1.4rem, 1.8rem);
  padding: 1.1rem 1.4rem 1.3rem;
}
.subTextfield__input:focus , input.subTextfield__input:hover{
  border: .1rem solid $lighter-dark;
  color: $half-dark;
  border-radius: .4rem;
  outline: none !important;
}