meta(charset="UTF-8")
link(href='../textfield/TextField.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
link(href='subTextfield.css' rel='stylesheet')
.subTextfield
    input( type="email" name="subscribe" class="subTextfield__input" placeholder="Email")
    .subTextfield__icon
        i.material-icons arrow_forward
