@import "../../style/mixins/mixin";
.subTextfield{
  display: flex;
  position: relative;
}
.subTextfield__icon{
  display: flex;
  transform: translate(-140%);
  color:  #bc9cff;
 font-size: 2.4rem;
    align-items: center;
  cursor: pointer;
}

input.subTextfield__input{
  border: .1rem solid rgba(31, 32, 65,.25);
  border-radius: .4rem;
  color: rgba(31, 32, 65,.25);
  @include fontContent(1.4rem, 1.8rem);
  padding: 1.1rem 1.4rem 1.3rem;
}
.subTextfield__input:focus , input.subTextfield__input:hover{
  border: .1rem solid rgba(31, 32, 65,.75);
  color: rgba(31, 32, 65,.5);
  border-radius: .4rem;
  outline: none !important;
}