@import "../../Blocks/allBlocks";
@import "../../Blocks/Cards/allCards";
@import "../../style/mixins/mixin";
@import "../../style/variables";
html{
  font-size: 10px;
}
body{
  margin: 0;
  background: $white;
}

.searchRoom__content{
  display: flex;
  justify-content: flex-start;
  max-width: 67.7%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.searchRoom__filter{
  flex-basis: 23.8%;
  margin: 1rem 5rem 1rem 2.5rem;
}
.searchRoom__block{
  margin: 1rem 1rem 2rem;
  max-width: 26.6rem;
  .dropdown__list{
    max-width: 26.6rem;
  }
  .dropdownFacilities__list{
    max-width: 26.6rem;
  }
  input.filterDate{
    min-width: 23.7rem;
  }
}
.searchRoom__filter-title{
  @include fontContent(1.2rem,1.5rem);
  margin-bottom: .5rem;
  font-weight: $bold-weight;
  text-transform: uppercase;
}
.searchRoom__prices-description{
  @include fontContent(1.2rem,1.4rem);
  color: $half-dark;
  font-weight: $light-weight;
  margin-top: 4.5rem;
  margin-bottom: 2.9rem;
}
.searchRoom__results{
  flex-basis: 69%;
  margin-right: 2rem;
}
.searchRoom__results-title{
  @include fontContent(2.4rem,2.9rem);
  margin: 2rem .5rem 1.5rem;
  font-weight: $bold-weight;
}
.searchRoom__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}
.searchRoom__cardRoom{
  padding: .6rem;
  margin-bottom: .9rem;
}
.searchRoom__pagination{
  width: 25.5rem;
  margin: 2.6rem auto 7.1rem;
}
.searchRoom__filter>:nth-child(3){
  margin-top: 3rem;
}
.searchRoom__filter>:nth-child(4){
  .searchRoom__filter-title{
    margin-bottom: 1.3rem;
  }
}
.searchRoom__filter>:nth-child(5){
  .richcheckboxList__text{
    width: 95%;
  }
  .searchRoom__filter-title{
    margin-bottom: 1.5rem;
  }
}
.searchRoom__filter>:nth-child(7){
  margin-top: 3rem;
  .checkboxList__wrapper{
    max-width: 26.6rem;
  }
  .checkboxList__icon{
    margin-right: 1rem;
  }
}
@media (max-width: 1820px){

  .searchRoom__content{
    max-width: 80%;
  }
}
@media (max-width: 1600px){
  .searchRoom__content{
    max-width: 90%;
  }
}

@media (max-width: 1400px){
  .searchRoom__content{
    max-width: 100%;
  }
}
@media (max-width: 1280px){
  .searchRoom__cardRoom{
    min-width: 30rem;
    max-width: 37rem;
    .cardRoom{
      min-width: 30rem;
      max-width: 37rem;
    }
  }
}

@media (max-width: 1050px){
  .searchRoom__cardRoom{
    min-width: 40rem;
    .cardRoom{
      min-width: 40rem;

    }
  }
}
@media (max-width: 800px){
  .searchRoom__cardRoom{
    max-width: 32rem;
    .cardRoom{
      min-width: 32rem;
    }
  }
  .searchRoom__results-title{
    width: 80%;
  }
}
@media (max-width: 700px) {
  .searchRoom__content{
    flex-wrap: wrap;
    justify-content: center;
  }
  .searchRoom__results{
    margin-right: auto;
    margin-left: auto;

  }
  .searchRoom__cards{
    justify-content: center;
  }
  .searchRoom__cardRoom{
    min-width: 35rem;
    .cardRoom{
      min-width: 35rem;
    }
  }
}