meta(charset="UTF-8")
link(href='dropdown.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')

.dropdown
    .dropdown__wrapper
        .dropdown__name Сколько гостей
        .dropdown__icon
            i.material-icons expand_more
ul.dropdown__list
    li.dropdown__li
        .dropdown__meaning Взрослые
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li
        .dropdown__meaning Дети
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li
        .dropdown__meaning Младенцы
        .dropdown__input
            button.dropdown__minus -
            input(type='number' value='0' min='0' max='10').dropdown__visitors
            button.dropdown__plus +
    li.dropdown__li.dropdown__li-buttons
        .dropdown__clear
            button.btn-clear очистить
        .dropdown__submit
            button.btn-submit применить


script( src="dropdown.js")


