@import "../../Blocks/allBlocks";
@import "../../Blocks/Cards/allCards";
@import "../../style/mixins/mixin";
@import "../../style/variables";
html{
  font-size: 10px;
}
body{
  margin: 0;
}
.wrapper__mainBlockLand{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-height: 91rem;
}
.wrapper__searchCard{
  position: absolute;
  top: 7rem;
  left: 17rem;
}
.mainBlock__text{
  position: absolute;
  bottom: 1.8rem;
  right: 17rem;
  @include fontContent(1.4rem, 2.4rem);
  text-align: right;
  color: $lighter-dark;
  width: 15%;
}
@media (max-width: 768px) {
  .wrapper__mainBlockLand{
    min-height: 70rem;
  }
  .wrapper__searchCard{
    left: 5rem;
  }
  .mainBlock__text{
    width: 70%;
    right: 7rem;
  }
}
.touch{
  .wrapper__mainBlockLand{
    min-height: 60rem;
    height: 50%;
    background: 100% 50%;
    background-size: contain;
  }
  .wrapper__searchCard{
  left: 4rem;}
  .mainBlock__text{
    right: 4rem;
    width: 90%;
  }
}