@charset "UTF-8";
.bulletList__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
}

.bulletList__rules {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba(31, 32, 65, 0.75);
  list-style: none;
  padding-left: 0;
}

.bulletList__text {
  padding-left: 2rem;
}

.bulletList__li {
  position: relative;
  margin-bottom: 1rem;
  width: 80%;
}

.bulletList__li:before {
  content: "";
  position: absolute;
  top: 0.6rem;
  width: 1rem;
  height: 1rem;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.1rem 2rem 0 1.9rem;
  height: 4.4rem;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  border-radius: 2.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: 0 !important;
}

.button-disabled {
  opacity: 0.5;
}

.button__wrapper {
  height: 4.4rem;
  position: relative;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  padding: 0.2rem;
  border-radius: 2.2rem;
  border: none;
  outline: 0 !important;
}
.button__wrapper .buttonBorder {
  border-radius: 2.2rem;
  background: #ffffff;
  padding: 0 1.6rem 0 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.button__wrapper .button__text {
  cursor: pointer;
}

.buttonBorder-disabled {
  background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
}

.checkboxList label {
  padding-left: 2.98rem;
}

.checkboxlist_checked .checkboxList__checkbox::before {
  display: block;
}
.checkboxlist_checked .checkboxList__adds input + .checkboxList__checkbox {
  border-color: #BC9CFF;
}
.checkboxlist_checked .checkboxList__adds input:checked + .checkboxList__checkbox {
  border-color: rgba(31, 32, 65, 0.25);
}
.checkboxlist_checked .checkboxList__custom:checked ~ .checkboxList__checkbox:before {
  display: none;
}

.checkboxList__wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.checkboxList__dropdown {
  display: none;
}

.checkboxList__buttons {
  display: grid;
  width: 90%;
}

.checkboxListExpanded .checkboxList__dropdown {
  display: block;
}
.checkboxListExpanded .checkboxList__icon-item {
  transform: rotate(180deg);
}

.checkboxList__adds {
  text-align: left;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 0.3rem;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 1.1rem;
}

.checkboxList__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkboxList__checkbox::before {
  content: "";
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 0.7rem;
  top: 0.5rem;
  transition: background 0.3s ease;
  border: solid transparent;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  border-image-slice: 1;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
  display: none;
}

.checkboxList__custom:checked ~ .checkboxList__checkbox:before {
  display: block;
}

.checkboxList__adds input:checked + .checkboxList__checkbox {
  border-color: #BC9CFF;
}

.checkboxList__checkbox {
  display: block;
  position: absolute;
  top: 0.046rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.4rem;
  cursor: pointer;
}

.checkboxList__checkbox:hover {
  border-color: #BC9CFF;
}

.date {
  display: flex;
  position: relative;
  width: 100%;
}
.date input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.datepicker__dates {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.date__icon {
  display: flex;
  align-items: center;
  transform: translate(-140%);
  color: rgba(31, 32, 65, 0.5);
}

.rangeDate {
  position: absolute;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

input.filterDate {
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 1.1rem 1.4rem 1.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.datepicker__datefrom,
.datepicker__dateto {
  min-width: 11.9rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  position: relative;
  text-align: left;
  background: #ffffff;
}

.datepicker {
  min-width: 26.6rem;
}

.datepicker-here:focus, .datepicker-here:hover {
  border: 0.1rem solid rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 0.4rem;
  outline: none !important;
}

.datepicker--container {
  font-family: Open Sans, Arial, sans-serif;
  margin-top: 0.2rem;
  padding: 0 !important;
}
.datepicker--container .datepicker--nav {
  border: none;
  font-size: 1.9rem;
  font-weight: 700;
}

.datepicker--nav {
  border-bottom: none;
  padding: 1.5rem 1.5rem 0;
  justify-content: space-between;
}
.datepicker--nav .datepicker--nav-action {
  color: #BC9CFF;
}

.datepicker-input {
  margin-right: 1rem;
}

.datepicker--nav-title {
  width: 10%;
  padding-left: 2rem;
  font-family: Quicksand, "Open Sans", sans-serif;
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #1f2041;
}
.datepicker--nav-title i {
  color: #1f2041;
}

.datepicker--content {
  padding: 1.5rem 1.9rem 0.8rem 2rem;
}

.datepicker--day-name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2ren;
  line-height: 1.5rem;
  font-weight: 700;
  color: #BC9CFF;
}

.datepicker--cell {
  height: 4rem;
  box-sizing: border-box;
  z-index: 1;
}

.datepicker--cells {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: normal;
}
.datepicker--cells .datepicker--cell-day {
  color: rgba(31, 32, 65, 0.5);
}
.datepicker--cells .datepicker--cell-day:hover {
  border-radius: 2.2rem;
}
.datepicker--cells .-other-month- {
  color: rgba(31, 32, 65, 0.25);
}
.datepicker--cells .-current- {
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 2.2rem;
}
.datepicker--cells .-selected- {
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  border-radius: 2.2rem;
}
.datepicker--cells .-selected-:hover {
  background: #BC9CFF;
}
.datepicker--cells .-focus-:hover {
  background: #BC9CFF;
}
.datepicker--cells .-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.datepicker--buttons {
  flex-direction: row-reverse;
  border-top: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.4rem 1.9rem 1.1rem 1.8rem;
  justify-content: space-between;
}
.datepicker--buttons .datepicker--button {
  color: #BC9CFF;
}
.datepicker--buttons .datepicker--button:hover {
  background: none;
}

.datepicker--buttons > :first-child {
  justify-content: flex-end;
}

.datepicker--buttons > :last-child {
  justify-content: flex-start;
}

.datepicker--cell.-current-.-in-range-:after,
.datepicker--cell.-range-from-:after,
.datepicker--cell.-range-to-:before,
.datepicker--cell.-selected-.-range-from-:after,
.datepicker--cell.-selected-.-range-to-:before {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  position: absolute;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.datepicker--cell.-range-from-:after {
  border-radius: 50% 0 0 50%;
}

.datepicker--cell.-range-to-:before {
  border-radius: 0 50% 50% 0;
}

.datepicker--nav-action .material-icons {
  color: #BC9CFF;
}

.dropdown {
  position: relative;
  min-width: 26rem;
  color: rgba(31, 32, 65, 0.75);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  cursor: pointer;
}

.dropdown__wrapper {
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  padding: 0.8rem 0.9rem 0.5rem 1.4rem;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
}

.material-icons {
  font-size: 2.4rem;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown__list {
  max-width: 32rem;
  display: none;
  width: 100%;
  margin: 0;
  padding-bottom: 0.4rem;
  padding-top: 0.2rem;
  padding-left: 0;
  background: #ffffff;
  border-radius: 0.4rem;
  position: absolute;
  z-index: 100;
  border: 0.1rem solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
}
.dropdown__list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.6rem 0.3rem 1.3rem;
}

.dropdown__minus, .dropdown__plus {
  text-decoration: none;
  background: #ffffff;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgba(31, 32, 65, 0.5);
  outline: 0 !important;
}

.dropdown__visitors {
  text-align: center;
  text-decoration: none;
  border: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  outline: 0 !important;
}

.dropdown__meaning {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
  margin-top: 0.7rem;
}

.dropdown__clear {
  visibility: hidden;
  display: block;
}

.dropdown__input input::-webkit-outer-spin-button,
.dropdown__input input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.dropdown__li-buttons {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  padding-left: 0;
}
.dropdown__li-buttons button {
  border: none;
  outline: none;
  background: 0 0;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.btn-submit, .btn-clear {
  color: #BC9CFF;
}

.btn-clear {
  padding-left: 0;
}

.btn-submit {
  padding-right: 0;
}

.dropdownFacilities {
  width: 100%;
  position: relative;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  cursor: pointer;
  background: #ffffff;
}

.dropdownFacilities__wrapper {
  padding: 0.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material-icons {
  font-size: 2.4rem;
  color: rgba(31, 32, 65, 0.75);
}

.dropdownFacilities__list {
  display: none;
  max-width: 26.8rem;
  width: 100%;
  margin: 0;
  padding-bottom: 0.4rem;
  padding-top: 0.2rem;
  padding-left: 0;
  background: #ffffff;
  border-radius: 0.4rem;
  position: absolute;
  z-index: 100;
  border: 0.1rem solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
}
.dropdownFacilities__list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.6rem 0.3rem 1.3rem;
}

.dropdownFacilities__meaning {
  margin-top: 0.6rem;
}

.dropdownFacilities__minus, .dropdownFacilities__plus {
  text-decoration: none;
  background: #ffffff;
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 2rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(31, 32, 65, 0.5);
  outline: 0 !important;
}

.dropdownFacilities__quantity {
  text-align: center;
  text-decoration: none;
  border: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  outline: 0 !important;
  width: 3.2rem;
  margin-bottom: 0.25rem;
}

.dropdownFacilities__minus::-moz-focus-inner, .dropdownFacilities__plus::-moz-focus-inner,
.dropdownFacilities__quantity::-moz-focus-inner {
  outline: 0 !important;
}

.dropdownFacilities__meaning {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f2041;
}

.dropdownFacilities__input input::-webkit-outer-spin-button,
.dropdownFacilities__input input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.iconLink {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 700;
  cursor: pointer;
}

.iconLink:hover {
  color: #BC9CFF;
}

.hover {
  color: #BC9CFF;
}

.likeBtn {
  left: 0;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.1rem;
  background: rgba(31, 32, 65, 0.25);
  align-items: start;
}

.likeBtn__wrapper {
  left: 0;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  z-index: 1;
  box-sizing: border-box;
  color: rgba(31, 32, 65, 0.25);
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background: #ffffff;
  cursor: pointer;
}
.likeBtn__wrapper .material-icons {
  font-size: 1rem;
  line-height: 0.9rem;
  color: rgba(31, 32, 65, 0.25);
}
.likeBtn__wrapper .likeBtn__quantity {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-left: 20%;
}

.likeBtn-selected {
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
}
.likeBtn-selected .likeBtn__wrapper {
  color: #BC9CFF;
}
.likeBtn-selected .material-icons {
  color: #BC9CFF;
}

.pagination {
  margin-top: 1.7rem;
}

.pagination__items {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.pagination__items .pagination__number {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  position: relative;
  padding: 0.65rem 0.8rem;
}

.pagination__number-active {
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  border-radius: 2.2rem;
  color: #ffffff;
  padding: 1.25rem 1.77rem;
  text-decoration: none;
  font-weight: 700;
}

.pagination__next {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 2.2rem;
  font-size: 2.4rem;
  color: #ffffff;
  padding: 0.8rem;
}
.pagination__next .material-icons {
  color: #ffffff;
}

.pagination__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 0.7rem;
  margin-left: 0.8rem;
  text-align: left;
}

.radioBtns__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.radioBtns__name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.radioBtns__adds {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.5);
}

.radioBtns__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-right: 1rem;
}

.radioBtns__radio {
  display: block;
  top: 0.046rem;
  left: 0;
  height: 18px;
  width: 18px;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.radioBtns__radio::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: none;
}

.radioBtns__custom:checked ~ .radioBtns__radio:before {
  display: block;
}

.radioBtns__custom:checked ~ .radioBtns__description {
  color: rgba(31, 32, 65, 0.75);
}

.radioBtns__adds input:checked + .radioBtns__radio {
  border-color: #BC9CFF;
  background: #ffffff;
  color: rgba(31, 32, 65, 0.75);
}

.radioBtns__radio:hover {
  border-color: #BC9CFF;
}

.rangeSlider {
  padding: 0;
}

.rangeSlider__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.3rem;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.rangeSlider__title .rangeSlider__header {
  color: #1f2041;
  font-weight: 700;
}
.rangeSlider__title .rangeSlider__values {
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
}

.middle {
  position: relative;
}

.rangeSlider__item {
  position: relative;
  z-index: 1;
}

.rangeSlider__track {
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  height: 0.6rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
}

.rangeSlider__range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  height: 0.6rem;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.rangeSlider__thumbLeft, .rangeSlider__thumbRight {
  position: absolute;
  z-index: 3;
  width: 1.2rem;
  height: 1.2rem;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 1rem;
  border: 0.2rem solid #ffffff;
}

.rangeSlider__thumbLeft {
  left: 25%;
  transform: translate(-15px, -6px);
}

.rangeSlider__thumbRight {
  right: 25%;
  transform: translate(15px, -6px);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 1rem;
  width: 100%;
  opacity: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 3rem;
  height: 3rem;
  border-radius: 0;
  border: 0 none;
  -webkit-appearance: none;
}

.rateBtn {
  font-size: 2.4rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.rateBtn__icon {
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.checkboxList {
  min-width: 24rem;
}

.checkboxList__wrapper {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.checkboxList__buttons {
  display: grid;
}

.checkboxList__name {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.checkboxList__adds, .richcheckboxList__adds {
  display: block;
  position: relative;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 1.1rem;
  padding-left: 2.98rem;
}

.richcheckboxList__adds {
  margin-bottom: -0.4rem;
}

.checkboxList__custom, .richcheckboxList__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.checkboxList__checkbox::before, .richcheckboxList__checkbox::before {
  content: "";
  width: 0.4rem;
  height: 0.6rem;
  position: absolute;
  left: 0.7rem;
  top: 0.4rem;
  transition: background 0.3s ease;
  border: solid transparent;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  border-image-slice: 1;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
  display: none;
}

.checkboxList__custom:checked ~ .checkboxList__checkbox:before {
  display: block;
}

.checkboxList__adds input:checked + .checkboxList__checkbox {
  border-color: #BC9CFF;
}

.richcheckboxList__custom:checked ~ .richcheckboxList__checkbox:before {
  display: block;
}

.richcheckboxList__adds input:checked + .richcheckboxList__checkbox {
  border-color: #BC9CFF;
}

.checkboxList__checkbox, .richcheckboxList__checkbox {
  display: block;
  position: absolute;
  top: 0.046rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 0.4rem;
  cursor: pointer;
}

.checkboxList__checkbox:hover {
  border-color: #BC9CFF;
}

.checkboxList__text, .richcheckboxList__text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  margin-left: 0;
  margin-top: 0.9rem;
  width: 80%;
  text-align: left;
}

.richcheckboxList__text {
  margin-top: 0.6rem;
}

.subTextfield {
  display: flex;
  position: relative;
}

.subTextfield__icon {
  display: flex;
  transform: translate(-140%);
  font-size: 2.4rem;
  align-items: center;
  cursor: pointer;
}
.subTextfield__icon .material-icons {
  color: #BC9CFF;
}

input.subTextfield__input {
  width: 100%;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 1.1rem 1.4rem 1.3rem;
}

.subTextfield__input:focus, input.subTextfield__input:hover {
  border: 0.1rem solid rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 0.4rem;
  outline: none !important;
}

.textField__wrapper {
  width: 100%;
}
.textField__wrapper input {
  min-width: 27rem;
  position: relative;
}

input.Text-field {
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.4rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 1.1rem 1.4rem 1.3rem;
  outline: none !important;
  color: rgba(31, 32, 65, 0.5);
}

input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.Text-field:focus, input.Text-field:hover {
  border: 0.1rem solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.5);
  border-radius: 0.4rem;
}

.hover input.Text-field {
  border: 0.1rem solid rgba(31, 32, 65, 0.5);
}
.hover input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.toggle__adds {
  display: flex;
  position: relative;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
}

.toggle__custom {
  position: absolute;
  opacity: 0;
  cursor: inherit;
  width: 0;
  height: 0;
}

.toggle__description {
  margin-left: 4.8rem;
}

.toggle__adds .toggle__item:before {
  left: 0;
  margin-top: -1rem;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
}

.toggle__item:after {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: -0.6rem;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 1rem;
  left: 0.5rem;
}

.toggle__adds .toggle__item:before,
.toggle__item:after {
  content: "";
  position: absolute;
  top: 55%;
}

.toggle__adds input:checked + .toggle__item:after {
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  left: 2.4rem;
}

.toggle__adds input:checked + .toggle__item:before {
  border: 0.1rem solid #BC9CFF;
}

.active .toggle__adds .toggle__item:before {
  left: 0;
  margin-top: -1rem;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  border: 0.1rem solid #BC9CFF;
  box-sizing: border-box;
}
.active .toggle__item:after {
  height: 1.2rem;
  width: 1.2rem;
  margin-top: -0.6rem;
  border-radius: 1rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  left: 2.4rem;
}
.active .toggle__adds .toggle__item:before,
.active .toggle__item:after {
  content: "";
  position: absolute;
  top: 55%;
}
.active .toggle__adds input:checked + .toggle__item:after {
  left: 0.5rem;
  background: rgba(31, 32, 65, 0.25);
}
.active .toggle__adds input:checked + .toggle__item:before {
  border: 0.1rem solid rgba(31, 32, 65, 0.25);
}

.btnPayment {
  position: relative;
  padding: 0.1rem 2.2rem 0 1.9rem;
  height: 4.4rem;
  width: 100%;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 2.2rem;
  align-items: center;
  justify-content: space-around;
}
.btnPayment .btnPayment__icon {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 93.1%;
  transform: translate(-50%, -50%);
}
.btnPayment .btnPayment__icon .material-icons {
  color: #ffffff;
}

.properties__wrapper {
  min-width: 24rem;
}

.properties__content {
  display: flex;
  margin-bottom: 1.2rem;
}
.properties__content .material-icons {
  font-size: 4.8rem;
  line-height: 4.1rem;
  margin-right: 1rem;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
  text-align: center;
}

.properties__item {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: normal;
}
.properties__item .properties__name {
  font-weight: 700;
}

.properties__line {
  background: rgba(31, 32, 65, 0.1);
  height: 0.1rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.review__item {
  display: flex;
}

.review__avatar {
  width: 4.8rem;
  margin-right: 1rem;
}

.review__avatar-img {
  margin-left: -2rem;
  margin-top: -1rem;
  margin-bottom: -2rem;
}

.review__likeBtn {
  margin-left: -1rem;
}

.review__username {
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: rgba(31, 32, 65, 0.75);
}

.review__date, .review__comment {
  text-align: left;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
}

.review__comment {
  text-align: left;
  margin-top: 1rem;
}

.authorization {
  max-width: 38rem;
  min-width: 32rem;
  padding: 3.7rem 3rem 3.3rem;
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.authorization__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  color: #1f2041;
  margin-bottom: 2rem;
}

.authorization__field {
  margin-bottom: 1rem;
}

.authorization__field-password {
  margin-bottom: 2rem;
}

.authorization__button {
  margin-bottom: 3rem;
}

.authorization__registration {
  display: flex;
  justify-content: space-between;
}

.authorization__registration-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  background: #E5E5E5;
}

.calculationRoom {
  max-width: 32rem;
  min-width: 30rem;
  padding: 4.4rem 3rem 3rem 3rem;
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.calculationRoom__title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1.3rem;
}

.calculationRoom__title-left {
  display: flex;
}

.calculationRoom__numRoom-symbol {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #1f2041;
  align-self: flex-end;
  margin-right: 0.2rem;
}

.calculationRoom__numRoom {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2rem;
  color: #1f2041;
  font-weight: bold;
  margin-right: 0.3rem;
  align-self: flex-end;
}

.calculationRoom__numCategory {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #BC9CFF;
  display: flex;
  align-self: flex-end;
}

.calculationRoom__title-right {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1rem;
  color: rgba(31, 32, 65, 0.5);
}

.calculationRoom__dates {
  width: 100%;
  display: flex;
  margin-bottom: 0.9rem;
}

.calculationRoom__label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.calculationRoom__guests {
  margin-bottom: 1.9rem;
}

.calculationRoom__calc,
.calculationRoom__service,
.calculationRoom__adds {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}

.calculationRoom__symbol {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculationRoom__result {
  margin-top: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #1f2041;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
.calculationRoom__result .calculationRoom__result-line {
  height: 0.4rem;
  border-top: 0.1rem dashed rgba(31, 32, 65, 0.25);
  flex-grow: 1;
  align-self: flex-end;
  margin: 0 0.5rem 0 0.5rem;
}

.calculationRoom__service-price,
.calculationRoom__adds-price {
  display: flex;
  width: 75%;
}

.calculationRoom__service-text,
.calculationRoom__adds-text {
  width: 90%;
}

.calculationRoom__arrival-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body {
  margin: 0;
  background: #E5E5E5;
}

.cardRoom {
  width: 27rem;
  height: 25.7rem;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.cardRoom__image {
  background-size: cover;
  width: 100%;
  height: 58%;
  border-radius: 4px 4px 0 0;
  position: relative;
}

.cardRoom__slider {
  display: none;
  justify-content: space-between;
  height: 100%;
}

.cardRoom__image:hover .cardRoom__slider, .cardRoom__image-hover .cardRoom__slider {
  display: flex;
}

.cardRoom__slider-symbol_left,
.cardRoom__slider-symbol_right {
  width: 4.2rem;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
}

.cardRoom__slider-symbol_right {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cardRoom__icon_left, .cardRoom__icon_right {
  transform: rotate(90deg);
  color: #ffffff;
}

.cardRoom__dots {
  display: flex;
  position: absolute;
  right: 1.3rem;
  bottom: 1.3rem;
}

.cardRoom__dots-symbol {
  width: 0.75rem;
  height: 0.74rem;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  margin-right: 0.375rem;
  border-radius: 50%;
}

.cardRoom__dots > :first-child {
  background: #ffffff;
}

.cardRoom__description {
  padding: 2rem 1.7rem 2rem 2rem;
}

.cardRoom__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cardRoom__titleRoom {
  display: flex;
}

.cardRoom__numRoom-symbol {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.75rem;
  color: #1f2041;
  align-self: flex-end;
  margin-right: 0.5rem;
  font-weight: 700;
}

.cardRoom__numRoom {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.9rem;
  line-height: 2.37rem;
  color: #1f2041;
  font-weight: 700;
  margin-right: 0.5rem;
  align-self: flex-end;
}

.cardRoom__numCategory {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #BC9CFF;
  align-self: flex-end;
  font-weight: 700;
}

.cardRoom__price {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  align-self: flex-end;
  text-align: right;
}

.cardRoom__price-cost {
  font-weight: 700;
}

.cardRoom__line {
  height: 0.1rem;
  background: rgba(31, 32, 65, 0.1);
  width: 100%;
  margin-bottom: 0.8rem;
}

.cardRoom__rating {
  display: flex;
  justify-content: space-between;
}

.cardRoom__review {
  display: flex;
  text-align: right;
  align-self: flex-end;
}

.cardRoom__review-quantity {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 700;
}

.cardRoom__review-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba(31, 32, 65, 0.5);
}

.registration {
  max-width: 32rem;
  min-width: 30rem;
  padding: 2.4rem 3rem 1.5rem;
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.registration__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  color: #1f2041;
  margin-bottom: 2rem;
}

.registration__field {
  margin-bottom: 1rem;
  max-width: 29rem;
}

.registration > :nth-child(3) {
  margin-bottom: 0.8rem;
}

.registration__label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.registration__radioBtns {
  margin-bottom: 2.2rem;
}

.registration__dateBirth {
  margin-bottom: 2rem;
}

.registration__data {
  margin-bottom: 0.1rem;
}

.registration__toggle {
  margin-bottom: 2rem;
}

.registration__button {
  margin-bottom: 3rem;
}
.registration__button .buttonBorder {
  padding-right: 2rem;
  padding-left: 2rem;
}

.registration__authorization {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.registration__authorization-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.searchRoom {
  max-width: 32rem;
  min-width: 30rem;
  padding: 2.3rem 3rem 1.3rem;
  background: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.searchRoom__title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
  color: #1f2041;
  margin-bottom: 1rem;
  width: 90%;
}

.searchRoom__dates {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  max-width: 32rem;
  align-items: center;
}

.searchRoom__arrival {
  margin-right: 2rem;
  width: 100%;
}
.searchRoom__arrival .datepicker__dates {
  margin-left: 2.6rem;
}

.searchRoom__arrival-titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.2rem;
}

.searchRoom__label {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #1f2041;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.searchRoom__guests {
  margin-bottom: 3.1rem;
}

.searchRoom__button {
  margin-bottom: 1.6rem;
}

.header__wrapper {
  padding: 1.5rem 2rem;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: auto;
  height: 100%;
}

.header__logo {
  display: flex;
}
.header__logo image {
  width: 4rem;
  height: 4rem;
}

.header__logo-image {
  margin-right: 1.25rem;
}

.header__logo-title {
  display: flex;
  align-content: center;
}

.header__rightside {
  display: flex;
}

.header__nav {
  display: flex;
}

.header__navMobile {
  display: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
  width: 4rem;
  margin-right: 1rem;
  cursor: pointer;
}
.header__navMobile .material-icons {
  font-size: 4rem;
}

.header__link,
.header__button-authorization {
  margin-right: 2.1rem;
  cursor: pointer;
}

.header__nav-title {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
  align-items: center;
}

.header__nav-title > :first-child {
  font-weight: 700;
  color: rgba(31, 32, 65, 0.75);
}

.header__link-icon {
  display: flex;
  line-height: 2.2rem;
}
.header__link-icon .material-icons {
  font-size: 2.4rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.header__button-registration {
  display: flex;
  align-content: center;
}
.header__button-registration .button {
  height: 3.4rem;
}

.header__button-authorization {
  display: flex;
  align-content: center;
}
.header__button-authorization .button__wrapper {
  height: 3.4rem;
}
.header__button-authorization .buttonBorder {
  padding-left: 2rem;
}

.header__line {
  background: rgba(31, 32, 65, 0.1);
  width: 1px;
  height: 3rem;
  margin-right: 2rem;
}

.header__user-name {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(31, 32, 65, 0.5);
  align-items: center;
}

.header__authorization-icon,
.header__user-icon {
  display: none;
  cursor: pointer;
  width: 4rem;
}

.header__authorization-icon .material-icons,
.header__user-icon .material-icons {
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
  font-size: 4rem;
}

@media (max-width: 1000px) {
  .header__button-registration,
.header__button-authorization,
.header__line,
.header__user-name {
    display: none;
  }

  .header__authorization-icon,
.header__user-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__nav-title {
    width: 22rem;
    flex-direction: column;
    margin-top: 5.5rem;
    right: 0;
    position: absolute;
    background: #ffffff;
    z-index: 100;
    opacity: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  .header__navMobile {
    display: block;
    position: relative;
  }
}
body {
  margin: 0;
}

footer {
  margin: 0;
  padding: 0;
}

.footer__wrapper {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  min-width: 32rem;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.footerMobile__wrapper {
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.footer__top {
  border-bottom: 1px solid #dedee3;
  padding: 9.5rem 2rem 7.9rem;
}

.footer__widgets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
  text-align: left;
}

.footer__column-brand,
.footer__column-subscribe {
  min-width: 26rem;
  max-width: 26rem;
  margin-top: 0.5rem;
}

.footer__column-subscribe input.subTextfield__input {
  min-width: 23rem;
}
.footer__column-subscribe .footer__column-title {
  margin-bottom: 2.1rem;
  margin-top: 0.9rem;
}

.footer__logo {
  display: flex;
  margin-bottom: 1.6rem;
}
.footer__logo image {
  width: 4rem;
  height: 4rem;
}

.footer__logo-image {
  margin-right: 1.25rem;
}

.footer__logo-title {
  display: flex;
  align-content: center;
}

.footer__sitedescription,
.footer__subscribe-text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: rgba(31, 32, 65, 0.75);
  font-weight: 400;
}

.footer__subscribe-text {
  margin-bottom: 2.1rem;
}

.footer__link,
.footer__confidence {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: rgba(31, 32, 65, 0.5);
  font-weight: 400;
}

.footer__column-title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #1f2041;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.footer__link {
  margin-bottom: 2.1rem;
  cursor: pointer;
}

.footer__bottom {
  max-width: 1160px;
  padding: 0 2rem;
  margin: 0.2rem auto 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__confidence {
  color: rgba(31, 32, 65, 0.75);
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

.footer__columns-widgets {
  display: flex;
  flex: 1 1 0;
  padding: 0 2rem;
}
.footer__columns-widgets .footer__column {
  margin-left: 2rem;
}
.footer__columns-widgets .footer__column-title {
  margin-bottom: 2.8rem;
}

.footer__columns-widgets > :nth-child(2) {
  padding: 0 7rem 0 0.5rem;
}

.footer__columns-widgets > :nth-child(2) {
  margin-left: 5.5rem;
}

.footer__sociallinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socialLink {
  text-decoration: none;
}

.fa-twitter:before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.fa-facebook-square:before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.fa-instagram:before {
  content: "";
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
  font-weight: 900;
  width: 100px;
  height: 100px;
}

.fa {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #BC9CFF;
}

.footerMobile__wrapper {
  display: none;
  justify-content: center;
  text-align: center;
}
.footerMobile__wrapper .footer__confidence {
  padding-top: 0;
}
.footerMobile__wrapper .footer__sociallinks {
  justify-content: center;
  margin-bottom: 12rem;
}
.footerMobile__wrapper .footer__logo {
  margin-top: 12rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.fa-facebook-square {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .footerMobile__wrapper {
    display: grid;
  }

  .footer__wrapper {
    display: none;
  }
}
html {
  font-size: 10px;
}

body {
  margin: 0;
}

.wrapper__mainBlock {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  min-height: 91rem;
}

.wrapper__searchCard {
  position: absolute;
  top: 7rem;
  left: 17rem;
}

.mainBlock__text {
  position: absolute;
  bottom: 1.8rem;
  right: 17rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: right;
  color: rgba(31, 32, 65, 0.75);
  width: 15%;
}

@media (max-width: 768px) {
  .wrapper__mainBlock {
    min-height: 70rem;
  }

  .wrapper__searchCard {
    left: 5rem;
  }

  .mainBlock__text {
    width: 70%;
    right: 7rem;
  }
}

/*# sourceMappingURL=landingPage.css.map */
