meta(charset="UTF-8")
link(href='likeBtn.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
.likeBtn
    i(class='material-icons likeBtn__icon') favorite_border
    .likeBtn__quantity 2
script(src='likeBtn.js')