@import "../../style/mixins/mixin";
input.maskedTextfield {
  border: 1px solid rgba(31, 32, 65,.25);
  border-radius: 4px;
  color: rgba(31, 32, 65,.25);
  @include fontContent(14px, 18px);
  padding: 1.1rem 1.4rem 1.3rem;
}
.maskedTextfield:focus , input.maskedTextfield:hover{
  border: 1px solid rgba(31, 32, 65,.75);
  color: rgba(31, 32, 65,.5);
  border-radius: 4px;
  outline: none !important;
}
