mixin searchRoom
    .searchRoom
        h1.searchRoom__title Найдём номера под ваши пожелания
        .searchRoom__dates
            .searchRoom__arrival
                .searchRoom__arrival-titles
                    h3.searchRoom__label прибытие
                    h3.searchRoom__label выезд
                +calendar('ДД.ММ.ГГГГ','ДД.ММ.ГГГГ')
        .searchRoom__guests
            h3.searchRoom__label гости
            +visitors('','0','0','0')
        .searchRoom__button
            +btnPayment('подобрать номер')
