@import "../../allBlocks";
@import "../../../style/mixins/mixin";
@import "../../../style/variables";

.searchRoom{
  max-width: 38rem;
  min-width: 32rem;
  padding: 3rem;
  background: $white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
}
.searchRoom__title{
  @include fontHeadline(2.4rem,3rem);
  font-weight: $bold-weight;
  color: $dark-black;
  margin-bottom: 2rem;
}
.searchRoom__dates{
  width: 100%;
  display: flex;
  margin-bottom: 2.05rem;
  max-width: 44rem;
}
.searchRoom__arrival{
  margin-right: 2rem;
}
.searchRoom__label{
  @include fontContent(1.2rem,1.5rem);
  font-weight: $bold-weight;
  color: $dark-black;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.searchRoom__guests{
  margin-bottom: 3.1rem;
}

