@import "../../allBlocks";
@import "../../../style/mixins/mixin";
@import "../../../style/variables";

.searchRoom{
  max-width: 32rem;
  min-width: 30rem;
  padding: 2.3rem 3rem 1.3rem;
  background: $white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.searchRoom__title{
  @include fontContent(2.4rem,3rem);
  font-weight: $bold-weight;
  color: $dark-black;
  margin-bottom: 1rem;
  width: 90%;
}
.searchRoom__dates{
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  max-width: 32rem;
  align-items: center;

}
.searchRoom__arrival{
  margin-right: 2rem;
  width: 100%;
  .datepicker__dates{
margin-left: 2.6rem;
  }

}
.searchRoom__arrival-titles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.2rem;
}
.searchRoom__label{
  @include fontContent(1.2rem,1.5rem);
  font-weight: $bold-weight;
  color: $dark-black;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.searchRoom__guests{
  margin-bottom: 3.1rem;
}
.searchRoom__button{
  margin-bottom: 1.6rem;
}

