mixin calendar(dateFrom, dateTo)
    .date
        input(type="text" class="datepicker-here rangeDate" data-range="true"  placeholder='ДД.ММ.ГГГГ' )
        .datepicker__dates
            span.datepicker__datefrom= dateFrom
            .date__icon
                i.material-icons expand_more
            span.datepicker__dateto= dateTo
            .date__icon
                i.material-icons expand_more

