@import "../../style/mixins/mixin";
@import "../../style/variables";
.date{
  display: flex;
  position: relative;
  input::-webkit-input-placeholder {
    color: $lighter-dark;
  }
  width: 100%;
}
.datepicker__dates{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.date__icon{
  display: flex;
  align-items: center;
  transform: translate(-140%);
  color: $half-dark;
}
.rangeDate{
  position: absolute;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
input.filterDate{
    border: .1rem solid $light-dark;
    border-radius: .4rem;
    color: $lighter-dark;
    @include fontContent(1.4rem, 1.8rem);
    padding: 1.1rem 1.4rem 1.3rem;
    width: 100%;
  display: flex;
  justify-content: space-between;
}
.datepicker__datefrom,
.datepicker__dateto{
  min-width: 11.9rem;
  border: .1rem solid $light-dark;
  border-radius: .4rem;
  color: $lighter-dark;
  @include fontContent(1.4rem, 2.4rem);
  padding: .8rem 1.4rem .8rem 1.4rem;
  position: relative;
  text-align: left;
  background: $white;
}

.datepicker{
  min-width: 26.6rem;
}

.datepicker-here:focus, .datepicker-here:hover{
  border: .1rem solid $lighter-dark;
  color: $half-dark;
  border-radius: .4rem;
  outline: none !important;
}
.datepicker--container {
  font-family: Open Sans, Arial, sans-serif;
  margin-top: .2rem;
  padding: 0 !important;
  .datepicker--nav{
    border: none;
    font-size: 1.9rem;
    font-weight: $bold-weight;
  }
}
.datepicker--nav{
  border-bottom: none;
  padding: 1.5rem 1.5rem 0;
  justify-content: space-between;
  .datepicker--nav-action{
    color: $purple;
  }
}
.datepicker-input{
  margin-right: 1rem;
}
.datepicker--nav-title{
  width: 10%;
  padding-left: 2rem;
  @include fontHeadline(1.9rem, 2.4rem);
  font-weight: $bold-weight;
  color: $dark-black;
  i{
    color: $dark-black;
  }
}
.datepicker--content{
  padding: 1.5rem 1.9rem .8rem 2rem;
}
.datepicker--day-name{
  @include fontContent(1.2ren, 1.5rem);
  font-weight: $bold-weight;
  color: $purple;
}
.datepicker--cell {
  height: 4rem;
  box-sizing: border-box;
  z-index: 1;
}
.datepicker--cells{
  @include fontContent(1.2rem, 1.8rem);
  font-weight: normal;
  .datepicker--cell-day{
    color: $half-dark;
  }
  .datepicker--cell-day:hover{
    border-radius: 2.2rem;

  }
  .-other-month-{
    color: $light-dark;

  }
  .-current-{
    font-weight: $bold-weight;
    color: $white;
    background: $gradient-green;
    border-radius: 2.2rem;
  }
  .-selected-{
    font-weight: $bold-weight;
    color: $white;
    background: $gradient-purple;
    border-radius: 2.2rem;

  }
  .-selected-:hover{
    background: $purple;
  }
  .-focus-:hover{
    background: $purple;
  }
  .-in-range-, {
    background: $gradient-purple-opacity25;
  }
}

.datepicker--buttons{
  flex-direction: row-reverse;
  border-top: none;
  @include fontContent(1.2rem, 1.5rem);
  font-weight: $bold-weight;
  text-transform: uppercase;
  padding: .4rem 1.9rem 1.1rem 1.8rem;
  justify-content: space-between;
  .datepicker--button{
    color: $purple;
  }
  .datepicker--button:hover{
    background: none;
  }
}
.datepicker--buttons>:first-child {
  justify-content: flex-end;
}
.datepicker--buttons>:last-child {
  justify-content: flex-start;
}
.datepicker--cell.-current-.-in-range-:after,
.datepicker--cell.-range-from-:after,
.datepicker--cell.-range-to-:before,
.datepicker--cell.-selected-.-range-from-:after,
.datepicker--cell.-selected-.-range-to-:before {
  background: $gradient-purple-opacity25;
  position: absolute;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.datepicker--cell.-range-from-:after{
  border-radius: 50% 0 0 50%;
}
.datepicker--cell.-range-to-:before{
  border-radius: 0 50% 50% 0;
}
.datepicker--nav-action{
  .material-icons{
    color: $purple;
  }
}
