header
    .header__wrapper
        .header__section
            .header__logo
                .header__logo-image
                    img(src="../../images/logo-color.png")
                .header__logo-title
                    img(src="../../images/nameCompany.svg")
            .header__rightside
                .header__nav
                    nav.header__nav-title
                        a.header__link О нас
                        a(class='header__link header__link-icon')
                            .header__link-text Услуги
                            i.material-icons expand_more
                        a.header__link Вакансии
                        a.header__link Новости
                        a(class='header__link header__link-icon')
                            .header__link-text Соглашение
                            i.material-icons expand_more
                .header__button-authorization
                    +button('button__wrapper', 'войти')
                .header__button-registration
                    +button('button', 'зарегистрироваться')