header
    .header__wrapper
        .header__section
            .header__logo
                a(class='header__logo-image' href='landingPage.html')
                    img(src="assets/images/logo-color.png")
                .header__logo-title
                    img(src="assets/images/nameCompany.svg")
            .header__rightside
                .header__nav
                    .header__navMobile
                        i.material-icons menu
                    nav.header__nav-title
                        a.header__link О нас
                        a(class='header__link header__link-icon' href='landingPage.html')
                            .header__link-text Услуги
                            i.material-icons expand_more
                        a.header__link Вакансии
                        a.header__link Новости
                        a(class='header__link header__link-icon')
                            .header__link-text Соглашение
                            i.material-icons expand_more
                a(class='header__button-authorization' href='authorization.html')
                    +button('button__wrapper', 'войти')
                a(class='header__button-registration' href='registrationPage.html')
                    +button('button', 'зарегистрироваться')
                .header__authorization-icon
                    i.material-icons perm_identity
