
.header__wrapper{
  padding: 1.4rem 2rem;
  background: $white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

}
.header__section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: auto;
  height: 100%;
}
.header__logo{
  display: flex;
  img{
    width: 4rem;
    height: 4rem;
  }
}
.header__logo-image{
  margin-right: 1.25rem;
}
.header__logo-title{
  display: flex;
  align-content: center;
  img{
    width: 5rem;
  }
}
.header__rightside{
  display: flex;
}
.header__nav{
  display: flex;
}
.header__navMobile{
  display: none;
  background: $gradient-purple;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $purple;
  width: 4rem;
  margin-right: 1rem;
  cursor: pointer;
  .material-icons{
   font-size: 4rem;
  }
}
.header__link,
.header__button-authorization{
  margin-right: 2.1rem;
  cursor: pointer;
}
.header__nav-title{
  display: flex;
@include fontContent(1.4rem,1.7rem);
  color: $half-dark;
  font-weight: $light-weight;
  align-items: center;

}
.header__nav-title>:first-child{
  font-weight: $bold-weight;
  color: $lighter-dark;
}
.header__link-icon{
  display: flex;
  line-height: 2.2rem;
  .material-icons{
    font-size: 2.4rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.header__button-registration{
  display: flex;
  align-content: center;
  .button{
    height: 3.4rem;
  }
}
.header__button-authorization{
  display: flex;
  align-content: center;
  .button__wrapper{
    height: 3.4rem;
  }
  .buttonBorder {
    padding-left: 2rem;
  }
}
.header__line{
  background: rgba(31, 32, 65, 0.1);
  width: 1px;
  height: 3rem;
  margin-right: 2rem;
}
.header__user-name{
  display: flex;
  @include fontContent(1.4rem,1.7rem);
  color: $half-dark;
  align-items: center;
}
.header__authorization-icon,
.header__user-icon{
  display: none;
  cursor: pointer;
  width: 4rem;
}
.header__authorization-icon,
.header__user-icon{
  .material-icons{
  background: $gradient-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;
    font-size: 4rem;
  }
}

@media (max-width: 1000px) {
  .header__button-registration,
  .header__button-authorization,
  .header__line,
  .header__user-name{
display: none;
  }
  .header__authorization-icon,
  .header__user-icon{
  display: block;
}
}
@media (max-width: 768px) {
  .header__nav-title{
    width: 22rem;
    flex-direction: column;
    margin-top: 5.5rem;
    right: 0;
    position: absolute;
    background: $white;
    z-index: 100;
    opacity: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  .header__navMobile{
    display: block;
    position: relative;
  }
}
.touch{
  .header__button-registration,
  .header__button-authorization,
  .header__line,
  .header__user-name{
    display: none;
  }
  .header__authorization-icon,
  .header__user-icon{
    display: block;
  }
  .header__nav-title{
    width: 22rem;
    flex-direction: column;
    margin-top: 5.5rem;
    right: 0;
    position: absolute;
    background: $white;
    z-index: 100;
    opacity: 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }
  .header__navMobile{
    display: block;
    position: relative;
  }
  .header__logo{
    img{
      width: 4rem;
      height: 4rem;
    }
  }
}