@import "../../Blocks/allBlocks";
@import "../../Blocks/Cards/allCards";
@import "../../style/mixins/mixin";
@import "../../style/variables";
html{
  font-size: 10px;
}
body{
  margin: 0;
  background: #E5E5E5;
}
.logo__img{
  width: 48px;
  padding: 1.55%;
}
.content__header{
  margin-top: 14rem;
  margin-bottom: 4rem;
}
.content__headerAuthorisation{
  margin-bottom: 4rem;
}
.content__footer{
  margin-bottom: 4rem;
}
.content__footer-mobile{
  max-width: 76.8rem;
  margin: 0 auto 14rem;
  .footerMobile__wrapper{
    display: grid;

  }
  .footer__wrapper{
    display: none;
  }

}