@import "../../style/mixins/mixin";
@import "../../style/variables";

.likeBtn{
  left: 0;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: .1rem;
 background: $light-dark;
  align-items: start;
}

.likeBtn__wrapper{
  left: 0;
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  z-index: 1;
  box-sizing: border-box;
  color: $light-dark;
  display: flex;
  align-items: center;
padding: .4rem;
  background: #ffffff;
  cursor: pointer;
  .material-icons{
    font-size: 1rem;
    line-height: .9rem;
    color: $light-dark;
  }
  .likeBtn__quantity{
    @include fontContent(1rem, 1.2rem);
    margin-left: 20%;
  }
}
.likeBtn-selected{
  background:$gradient-purple;
  .likeBtn__wrapper{
    color: $purple;
  }
  .material-icons{
    color: $purple;
  }
}
