mixin likeBtn(number,likeBtn, iconLike)
    button(class='likeBtn '+likeBtn)
        div(class='likeBtn__wrapper')
            i(class='material-icons likeBtn__icon')= iconLike
            .likeBtn__quantity= number
