@import "../../allBlocks";
@import "../../../style/mixins/mixin";
@import "../../../style/variables";

.registration{
  max-width: 38rem;
  min-width: 32rem;
  padding: 3rem;
  background: $white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.registration__title{
  @include fontHeadline(2.4rem,3rem);
  font-weight: $bold-weight;
  color: $dark-black;
  margin-bottom: 2rem;
}
.registration__field{
  margin-bottom: 1rem;
}
.registration__label{
  @include fontContent(1.2rem,1.5rem);
  font-weight: $bold-weight;
  color: $dark-black;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.registration__radioBtns,
.registration__dateBirth,
.registration__toggle{
  margin-bottom: 2rem;
}
.registration__button{
  margin-bottom: 3rem;
}
.registration__authorization{
  display: flex;
  justify-content: space-between;
}
.registration__authorization-text{
  @include fontContent(1.4rem,1.8rem);
  font-weight: $light-weight;
  display: flex;
  align-items: center;
}
