@import "../../style/mixins/mixin";
.properties__wrapper {
  min-width: 24rem;
}
.properties__content{
  display: flex;
  margin-bottom: 1.2rem;
  .material-icons{
    font-size: 48px;
    line-height: 41px;
    margin-right: 1rem;
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #BC9CFF;
    text-align: center;
  }
}
.properties__item{
  @include fontContent(14px, 24px);
.properties__name{
font-weight: bold;
}
  font-weight: normal;
}
.properties__line{
  background: rgba(31, 32, 65, 0.1);
  height: 1px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
