meta(charset="UTF-8")
link(href='properties.css' rel='stylesheet')
link(href='../../style/fonts/iconfont/material-icons.css' rel='stylesheet')
.properties__wrapper
    .properties__content
        i.material-icons insert_emoticon
        .properties__item
            .properties__name Комфорт
            .properties__description Шумопоглащающие стены
    hr.properties__line
    .properties__content
        i.material-icons location_city
        .properties__item
            .properties__name Удобство
            .properties__description Окно в каждой спальне
    hr.properties__line