@import "../../allBlocks";
@import "../../../style/mixins/mixin";
@import "../../../style/variables";

.authorization{
  max-width: 38rem;
  min-width: 32rem;
  padding: 3rem;
  background: $white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.authorization__title{
  @include fontHeadline(2.4rem,3rem);
  font-weight: $bold-weight;
  color: $dark-black;
  margin-bottom: 2rem;
}
.authorization__field{
  margin-bottom: 1rem;
}
.authorization__field-password{
  margin-bottom: 2rem;
}
.authorization__button{
  margin-bottom: 3rem;
}
.authorization__registration{
  display: flex;
  justify-content: space-between;
}
.authorization__registration-text{
  @include fontContent(1.4rem,1.8rem);
  font-weight: $light-weight;
  display: flex;
  align-items: center;
}