
.radioBtns__buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.radioBtns__name{
  @include fontContent(1.2rem, 1.5rem);
  text-transform: uppercase;
  font-weight: $bold-weight;
  margin-bottom: 1rem;
}
.radioBtns__adds{
  display: flex;
  flex-direction: row;

  align-items: center;
  cursor: pointer;
  margin-right: 2rem;
  @include fontContent(1.4rem, 2.4rem);
  font-weight: $light-weight;
  color: $half-dark;
}

.radioBtns__custom{
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;

}
.radioBtns__radio {
  display: inline-block;
  position: relative;
  //top: .046rem;
  //left: 0;
  height: 2rem;
  width: 2rem;
  border: .1rem solid $light-dark;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
  box-sizing: border-box;
}
.radioBtns__radio::before {
  content: "";
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: $gradient-purple;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.radioBtns__custom:checked ~.radioBtns__radio:before {
display: block;
}
.radioBtns__custom:checked ~ .radioBtns__description{
  color: $lighter-dark;
}
.radioBtns__adds input:checked+.radioBtns__radio{
  border-color: $purple;
  background: $white;
  color: $lighter-dark;
}

.radioBtns__radio:hover{
  border-color: $purple;
}
//.radioBtn_active{
//  .radioBtns__radio::before{
//    display: block;
//  }
//  .radioBtns__custom:checked ~.radioBtns__radio:before {
//    display: none;
//    background:#E5E5E5;
//  }
//  .radioBtns__custom:checked ~ .radioBtns__description{
//    border-color: $purple;
//    background: $white;
//    color: $lighter-dark;
//  }
//  .radioBtns__adds input:checked+.radioBtns__radio{
//    color: $lighter-dark;
//  }
//}