@import "../../style/mixins/mixin";
.button{
  display: flex;
  align-items: center;
  text-align: center;
  padding: .1rem 2.2rem 0 1.9rem;
  height: 4.4rem;
  color: #fff;
  background: linear-gradient(180deg,#bc9cff,#8ba4f9);
  @include fontContent(12px, 15px);
  font-weight: 700;
  border-radius: 2.2rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: 0 !important;
}
.button:disabled{
  opacity: .5;
}