doctype html
html
    head
        meta(charset="UTF-8")
        title Room Details
        link(href='../../fonts/iconfont/material-icons.css' rel='stylesheet')
        link(href='roomDetails.css' rel='stylesheet')
        link(href='../../../dist/assets/css/datepicker.css' rel='stylesheet')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        include ../../Blocks/Cards/allCards
        include ../../Blocks/allBlocks
    body
        .wrapper
            .wrapper__header
                include ../../Blocks/header/header
            .roomDetails__main
                .roomDetails__images
                    .roomDetails__images_left
                        img(src='../../images/roomDetails1.png')
                    .roomDetails__images_right
                        img(src='../../images/roomDetail2.png')
                        img(src='../../images/roomDetail3.png')
            .roomDetails__contentWrapper
                .roomDetails__content
                    .roomDetails__information
                        .roomDetails__properties
                            .roomDetails__title Сведения о номере
                            +property('insert_emoticon' , 'Комфорт' , 'Шумопоглощающие стены')
                            +property('location_city', 'Удобство', 'Окно в каждой из спален')
                            +property('whatshot', 'Уют', 'Номер оснащён камином')
                        .roomDetails__diagram
                            .roomDetails__title Впечатления от номера
                            +diagram
                    .roomDetails__reviews
                        .roomDetails__reviews-title
                            .roomDetails__title Отзывы посетителей номера
                            .roomDetails__reviews-count 2 отзыва
                        +review('../../images/avatar.png', 'Мурад Сарафанов', '5 дней назад','Великолепный матрас ' +
                        'на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.' +
                        ' Выкрикивал комплименты повару — никто не жаловался из соседей.','12','likeBtn-selected')
                        +review('../../images/avatar.png', 'Патрисия Стёклышкова', 'Неделю назад','Обслуживание на высоте!' +
                        ' Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент','2','')
                    .roomDetails__rulesInformation
                        .roomDetails__rules
                            .roomDetails__title Правила
                            +bulletList('Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
                        .roomDetails__cancel
                            .roomDetails__title Отмена
                            .roomDetails__cancel-information Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                .roomDetails__sidebar
                    +calculationRoom
            .wrapper__footer
                include ../../Blocks/footer/footer
        script(src='../../../dist/datepicker.bundle.js')
        script(src='../../../dist/app.bundle.js')
        script(src='../../Blocks/diagram/diagram.js')


